/* #region font faces */

@font-face {
    font-family: Bazar;
    src: url('fonts/Bazar.ttf') format('truetype');
}

@font-face {
    font-family: Canter-Light;
    src: url('fonts/CanterLight.otf') format('opentype');
}

@font-face {
    font-family: Canter-Outline;
    src: url('fonts/CanterOutline.otf') format('opentype');
}

@font-face {
    font-family: Canter-Bold;
    src: url('fonts/CanterBold.otf') format('opentype');
}

@font-face {
    font-family: Canter-Bold-Strips;
    src: url('fonts/CanterBoldStrips.otf') format('opentype');
}

@font-face {
    font-family: Canter-Bold-Shadow;
    src: url('fonts/CanterBoldShadow.otf') format('opentype');
}

@font-face {
    font-family: Canter-Bold-3D;
    src: url('fonts/CanterBold3D.otf') format('opentype');
}

/* #endregion */

/* #region angular animations */

.page-content.ng-enter {
    z-index: 8888;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounceInLeft;
    -moz-animation-name: bounceInLeft;
    -o-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

.animate {
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -o-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

    .animate.fade-in {
        -moz-animation-name: fadeIn;
        -o-animation-name: fadeIn;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }

        .animate.fade-in.ng-hide {
            -moz-animation-name: fadeOut;
            -o-animation-name: fadeOut;
            -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
        }

    .animate.fade-up {
        -moz-animation-name: fadeInDown;
        -o-animation-name: fadeInDown;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }

        .animate.fade-up.ng-hide {
            -moz-animation-name: fadeOutUp;
            -o-animation-name: fadeOutUp;
            -webkit-animation-name: fadeOutUp;
            animation-name: fadeOutUp;
        }

    .animate.fade-left {
        -moz-animation-name: fadeInLeft;
        -o-animation-name: fadeInLeft;
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
    }

        .animate.fade-left.ng-hide {
            -moz-animation-name: fadeOutRight;
            -o-animation-name: fadeOutRight;
            -webkit-animation-name: fadeOutRight;
            animation-name: fadeOutRight;
        }

    .animate.fade-right {
        -moz-animation-name: fadeInRight;
        -o-animation-name: fadeInRight;
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
    }

        .animate.fade-right.ng-hide {
            -moz-animation-name: fadeOutLeft;
            -o-animation-name: fadeOutLeft;
            -webkit-animation-name: fadeOutLeft;
            animation-name: fadeOutLeft;
        }

    .animate.bounce-up {
        -moz-animation-name: bounceInUp;
        -o-animation-name: bounceInUp;
        -webkit-animation-name: bounceInUp;
        animation-name: bounceInUp;
    }

        .animate.bounce-up.ng-hide {
            -moz-animation-name: bounceInDown;
            -o-animation-name: bounceInDown;
            -webkit-animation-name: bounceInDown;
            animation-name: bounceInDown;
        }

    .animate.rotate-in-right {
        -moz-animation-name: rotateInDownRight;
        -o-animation-name: rotateInDownRight;
        -webkit-animation-name: rotateInDownRight;
        animation-name: rotateInDownRight;
    }

        .animate.rotate-in-right.ng-hide {
            -moz-animation-name: rotateOutUpRight;
            -o-animation-name: rotateOutUpRight;
            -webkit-animation-name: rotateOutUpRight;
            animation-name: rotateOutUpRight;
        }

    .animate.flip-x {
        -moz-animation-name: flipInX;
        -o-animation-name: flipInX;
        -webkit-animation-name: flipInX;
        animation-name: flipInX;
    }

        .animate.flip-x.ng-hide {
            -moz-animation-name: flipOutX;
            -o-animation-name: flipOutX;
            -webkit-animation-name: flipOutX;
            animation-name: flipOutX;
        }

@-moz-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        -moz-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
        -o-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
        transform: translateX(30px);
    }

    80% {
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        -moz-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
        -o-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
        transform: translateX(30px);
    }

    80% {
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        -moz-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
        -o-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
        transform: translateX(30px);
    }

    80% {
        -webkit-transform: translateX(-10px);
        -moz-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        -o-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

/* #endregion */

/* #region isotope animations */

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /*-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;*/
}

.isotope {
    /*-webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;*/
}

    .isotope .isotope-item {
        /*-webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;*/
        -moz-animation-duration: 1.5s;
        -o-animation-duration: 1.5s;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -moz-animation-name: fadeIn;
        -o-animation-name: fadeIn;
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }

        .isotope.no-transition,
        .isotope.no-transition .isotope-item,
        .isotope .isotope-item.no-transition {
            -webkit-transition-duration: 0;
            -moz-transition-duration: 0;
            -o-transition-duration: 0;
            transition-duration: 0;
        }

    .isotope.infinite-scrolling {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }

/* #endregion */

/* #region videogular styles */

videogular vg-video {
    min-height: 380px;
    max-height: 500px;
}
/* #endregion */

/* #region ckeditor styles */

#cke_post-message-editor {
    background: none !important;
    padding: 3px 5px 5px 5px !important;
    border-radius: 0 !important;
    border: 1px solid #acacac !important;
    width: auto !important;
}

    #cke_post-message-editor div {
        border-radius: 0 !important;
    }

    #cke_post-message-editor span {
        border-radius: 0 !important;
    }

.cke_toolgroup {
    border: 1px solid #acacac !important;
}

.cke_contents {
    margin-top: 5px !important;
    border: 1px solid #acacac !important;
}

.cke_inner .cke_top {
    background: none !important;
}

/* #endregion */

/* #region error page styles */

#page-not-found > img {
    width: 100%;
    height: auto;
}

/* #endregion */

/* #region blockUi styles */

.blockUI.blockMsg {
    margin: 0;
    top: 40%;
    text-align: center;
    color: #000 !important;
    border: none;
    background-color: #fff !important;
    cursor: default;
    width: 100%;
    height: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    -webkit-box-shadow: 0 2px 4px #000000;
    -webkit-box-shadow: 0 2px 4px #000000;
    -ms-box-shadow: 0 2px 4px #000000;
    -ms-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px #000000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

    .blockUI.blockMsg > .alert {
        margin: 0;
    }

/* #endregion */

/* #region bloggity specific styles */

.blog-brand-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAV1BMVEUAAADHx8fOzs6pqamfn5+dnZ3BwcHExMTQ0NDf399xcXGNjY3w8PBMTExSvt1WwuFav91bv91cvttoxeBqxN5vxd9xcXF8yuHi8/jm9fnn5+fo9fn///+UDZIMAAAADXRSTlMANG16fn9/f3/z/v7+rTi8VQAAAJVJREFUeNrt2zkSgkAURVEcUVFBwQF0/+s0M6KK6qB/dXDuCk76gldVkqR/m11U29Us4HQJaw8AAAAAAAAAAAAAAABQJqB5hlXPAs7fsA4AAAAAAAAAAAAAAAAAAAAAAAAAAMUDxneGPgmA+zVDQwKgazPUAwAAAAAAAAAAACQAHrcMvSwjAAAAgCXAcQpr7dcmSQX1Axb4wNVzzdKdAAAAAElFTkSuQmCC') /*images/brand-logo.png*/;
    background-size: cover;
    width: 30px;
    height: 30px;
    float: left;
    position: relative;
    top: -5px;
    margin-right: 5px;
}

.content-item {
    -webkit-box-shadow: 0 2px 4px #000000;
    -webkit-box-shadow: 0 2px 4px #000000;
    -ms-box-shadow: 0 2px 4px #000000;
    -ms-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px #000000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header {
    background: rgb(76, 76, 76);
    color: rgb(248, 248, 248);
    position: relative;
    height: 38px;
}

    .header > h5 {
        padding: 12px 15px;
        margin: 0;
        display: inline-block;
    }

    .header > .btn-header {
        height: 100%;
        cursor: pointer;
        padding: 10px;
        color: #fff;
        top: 0;
        right: 0;
        text-align: center;
    }

        .header > .btn-header:hover {
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .header > .btn-header.left {
            border-right: 1px solid #ddd;
            margin-right: 5px;
            display: inline-block;
        }

        .header > .btn-header.right {
            border-left: 1px solid #ddd;
        }

            .header > .btn-header.right > i {
                margin-right: 5px;
            }

.center-cropped {
    float: left;
    width: 70px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

    .center-cropped > img {
        min-height: 100%;
        min-width: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
    }

.page-content {
    padding: 0 15px;
}

.body-content {
    margin: 51px 0 0 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.max-height {
    height: 100%;
}

.wrap-text {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.no-margin {
    margin: 0 !important;
}

.no-pad {
    padding: 0 !important;
}

.shadow-box {
    background: #f8f8f8;
    border: 2px dashed #cecece;
}

.hide-me {
    visibility: hidden !important;
}

/* #endregion */

/* #region base styles */

html,
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

::selection {
    color: #fff;
    background: #f676b2;
}

::-moz-selection {
    color: #fff;
    background: #f676b2;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* #endregion */

/* #region validation styles */

.field-error {
    border: 1px solid #d9534f;
    color: #d9534f;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.input.has-error {
    background: #d9534f;
    color: #fff;
}

    .input.has-error::-webkit-input-placeholder { /* WebKit browsers */
        color: #fff;
    }

    .input.has-error:hover::-webkit-input-placeholder,
    .input.has-error:focus::-webkit-input-placeholder { /* WebKit browsers */
        color: #333;
    }

    .input.has-error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #fff;
        opacity: 1;
    }

    .input.has-error:hover:-moz-placeholder,
    .input.has-error:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #333;
        opacity: 1;
    }

    .input.has-error::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #fff;
        opacity: 1;
    }

    .input.has-error:hover::-moz-placeholder,
    .input.has-error:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #333;
        opacity: 1;
    }

    .input.has-error:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #fff;
    }

    .input.has-error:hover:-ms-input-placeholder,
    .input.has-error:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #333;
    }

.validation-summary-valid {
    display: none;
}

/* #endregion */

/* #region bootstrap extension/overrides */

/* Off Canvas */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}

.navbar > .navbar-header > .navmenu-toggle {
    display: inline-block;
    position: absolute;
    top: 15px;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

    .navbar > .navbar-header > .navmenu-toggle > span {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        margin-top: 4px;
        background: #fff;
    }

.navbar > .navbar-header > .nav-open {
    left: -15px;
}

.navbar > .navbar-header > .nav-close {
    left: -10px;
}

s
/* #endregion */
/* #region angular tags-input styles */
tags-input *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

tags-input .host {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

    tags-input .host:active {
        outline: none;
    }

tags-input .tags {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    padding: 1px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: white;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
}

    tags-input .tags.focused {
        outline: none;
        -webkit-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
        -moz-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
        box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
    }

    tags-input .tags .tag-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    tags-input .tags .tag-item {
        margin: 2px;
        display: inline-block;
        float: left;
    }

        tags-input .tags .tag-item.selected {
            background-color: #d9534f;
            border-color: #d43f3a;
        }

        tags-input .tags .tag-item .remove-button {
            margin: 0 0 0 5px;
            padding: 0;
            border: none;
            background: none;
            cursor: pointer;
            vertical-align: middle;
            font: bold 16px Arial, sans-serif;
            color: #f8f8f8;
        }

            tags-input .tags .tag-item .remove-button:active {
                color: red;
            }

    tags-input .tags .input {
        border: 0;
        outline: none;
        margin: 5px 2px 2px 2px;
        padding: 0;
        padding-left: 5px;
        float: left;
        height: 26px;
        font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

        tags-input .tags .input.invalid-tag {
            color: red;
        }

        tags-input .tags .input::-ms-clear {
            display: none;
        }

tags-input.ng-invalid .tags {
    -webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
    -moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
    box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
}

tags-input .autocomplete {
    margin-top: 5px;
    position: absolute;
    padding: 5px 0;
    z-index: 999;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

    tags-input .autocomplete .suggestion-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    tags-input .autocomplete .suggestion-item {
        padding: 5px 10px;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: black;
        background-color: white;
    }

        tags-input .autocomplete .suggestion-item.selected {
            color: white;
            background-color: #0097cf;
        }

            tags-input .autocomplete .suggestion-item.selected em {
                color: white;
                background-color: #0097cf;
            }

        tags-input .autocomplete .suggestion-item em {
            font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: black;
            background-color: white;
        }
/* #endregion */

/* #region angular carousel styles */

.rn-carousel-control {
    background: #56c2e1;
    border: 1px solid #46b3d3;
    border-radius: 20px;
    width: 40px;
    padding: 0 12px;
    color: #fff;
}

/* #endregion */
