.upload-details {
    background: #4c4c4c;
    color: #f2f2f2;
    padding: 10px;
}

    .upload-details > div.popover {
        color: #666;
    }

        .upload-details > div.popover > div.popover-content {
            -ms-word-wrap: break-word;
            word-wrap: break-word;
        }

    .upload-details > p {
        margin: 0 0 5px 0;
    }

        .upload-details > p:first-child {
            cursor: pointer;
            font-weight: bold;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            opacity: 1;
            -moz-transition: opacity .25s ease-in-out;
            -webkit-transition: opacity .25s ease-in-out;
            -o-transition: opacity .25s ease-in-out;
            transition: opacity .25s ease-in-out;
        }

            .upload-details > p:first-child:hover,
            .upload-details > p:first-child:focus {
                text-decoration: underline;
                opacity: 0.5;
            }

    .upload-details > div.buttons > button {
        border-radius: 0;
        width: 25px;
        height: 25px;
    }

    .upload-details > div.status {
        display: inline-block;
        position: absolute;
        left: 100px;
        top: 63px;
    }
