.file-upload .dropzone {
    border: dotted 3px #666;
}

.file-upload > .btn {
    margin-bottom: 15px;
}

    .file-upload > .btn > input[type=file] {
        position: fixed;
        top: -1000px;
    }

.file-upload .dropzone > h4 {
    margin-left: 5px;
}

.file-upload .dropzone > p {
    margin-left: 5px;
}

.file-upload .dropzone > .upload-all {
    margin-left: 5px;
}

    .file-upload .dropzone > .upload-all > i {
        padding-right: 5px;
    }

.file-upload .dropzone ul.upload-items {
    list-style-type: none;
    padding: 0;
}

    .file-upload .dropzone ul.upload-items > li {
        background: #fff;
        margin: 5px;
        width: 100%;
    }

    .file-upload .dropzone ul.upload-items .thumbnail {
        border: 0;
        padding: 0;
        border-radius: 0;
        margin: 0;
    }

        .file-upload .dropzone ul.upload-items .thumbnail img {
            height: auto;
            width: 100%;
        }

        .file-upload .dropzone ul.upload-items .thumbnail canvas {
            width: 100%;
            height: auto;
        }

    .file-upload .dropzone ul.upload-items .captions {
        padding: 0 10px 10px 10px;
        color: #999;
    }

        .file-upload .dropzone ul.upload-items .captions h5 {
            color: #666;
        }

        .file-upload .dropzone ul.upload-items .captions input {
            width: 100%;
            max-width: 100%;
        }

        .file-upload .dropzone ul.upload-items .captions textarea {
            width: 100%;
            max-width: 100%;
            resize: none;
        }

    .file-upload .dropzone ul.upload-items .progress {
        border-radius: 0;
        height: 10px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background: #ddd;
    }

.ng-file-over {
    border: dotted 3px red;
}
