/* line 3, ../../scss/shared/fileuploaditem.scss */
.upload-details {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  background: #4c4c4c;
  color: white; }
  /* line 9, ../../scss/shared/fileuploaditem.scss */
  .upload-details .popover {
    color: #4c4c4c; }
    /* line 12, ../../scss/shared/fileuploaditem.scss */
    .upload-details .popover .popover-content {
      -ms-word-wrap: break-word;
      word-wrap: break-word; }
  /* line 18, ../../scss/shared/fileuploaditem.scss */
  .upload-details p {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 5px;
    margin-left: 0; }
    /* line 22, ../../scss/shared/fileuploaditem.scss */
    .upload-details p:first-child {
      font-weight: bold;
      cursor: pointer;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      opacity: 1;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      -o-transition: opacity .25s ease-in-out;
      transition: opacity .25s ease-in-out; }
      /* line 36, ../../scss/shared/fileuploaditem.scss */
      .upload-details p:first-child:hover, .upload-details p:first-child:focus {
        opacity: 0.5;
        filter: alpha(opacity=50);
        text-decoration: underline; }
  /* line 44, ../../scss/shared/fileuploaditem.scss */
  .upload-details > .buttons > button {
    width: 25px;
    height: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  /* line 50, ../../scss/shared/fileuploaditem.scss */
  .upload-details > .status {
    position: absolute;
    top: 69px;
    left: 105px;
    display: inline-block; }
