div.file-upload div.dropzone {
    border: dotted 3px #666;
}

div.file-upload input[type=file] {
    margin-bottom: 15px;
    display: inline-block;
}

div.file-upload div.dropzone > h4 {
    margin-left: 5px;
}

div.file-upload div.dropzone > p {
    margin-left: 5px;
}

div.file-upload div.dropzone > .upload-all {
    margin-left: 5px;
}

    div.file-upload div.dropzone > .upload-all > i {
        padding-right: 5px;
    }

div.file-upload div.dropzone ul.upload-items {
    list-style-type: none;
    padding: 0;
}

    div.file-upload div.dropzone ul.upload-items > li {
        background: #fff;
        margin: 5px;
        width: 100%;
    }

    div.file-upload div.dropzone ul.upload-items div.thumbnail {
        border: 0;
        padding: 0;
        border-radius: 0;
        margin: 0;
    }

        div.file-upload div.dropzone ul.upload-items div.thumbnail img {
            height: auto;
            width: 100%;
        }

        div.file-upload div.dropzone ul.upload-items div.thumbnail canvas {
            width: 100%;
            height: auto;
        }

    div.file-upload div.dropzone ul.upload-items div.captions {
        padding: 0 10px 10px 10px;
        color: #999;
    }

        div.file-upload div.dropzone ul.upload-items div.captions h5 {
            color: #666;
        }

        div.file-upload div.dropzone ul.upload-items div.captions input {
            width: 100%;
            max-width: 100%;
        }

        div.file-upload div.dropzone ul.upload-items div.captions textarea {
            width: 100%;
            max-width: 100%;
            resize: none;
        }

    div.file-upload div.dropzone ul.upload-items div.progress {
        border-radius: 0;
        height: 10px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background: #ddd;
    }

.ng-file-over {
    border: dotted 3px red;
}
