.post-related-items-container > .post-related-list {
    padding: 10px;
}

.post-related-items-container > .post-related-category {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #f8f8f8;
}
