.post-item-content p {
    text-align: left;
    font-size: 1em;
    padding: 0 10px;
    margin: 10px 0;
}

    .post-item-content p:first-of-type {
        font-weight: bold;
        height: 20px;
    }
