/* line 4, ../../scss/posts/postrelateditems.scss */
.post-related-items-container > .post-related-list {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px; }
/* line 8, ../../scss/posts/postrelateditems.scss */
.post-related-items-container > .post-related-category {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-bottom: 1px solid #cccccc;
  background: white;
  color: #4c4c4c; }
