.post-related-item {
    background: #f8f8f8;
    margin-bottom: 5px;
}

    .post-related-item > div {
        padding: 5px;
    }

    .post-related-item > .header {
        background: #56c2e1;
        border: 1px solid #46b3d3;
        color: #fff;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        height: auto;
    }

        .post-related-item > .header > a {
            color: #fff;
        }

    .post-related-item > .body {
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        clear: both;
    }

        .post-related-item > .body > .details {
            margin-left: 75px;
            height: 70px;
        }

            .post-related-item > .body > .details > p {
                margin-bottom: 0;
                font-size: 1em;
                white-space: nowrap;
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
