/* line 3, ../../scss/posts/postrelateditem.scss */
.post-related-item {
  margin-bottom: 15px;
  background: white; }
  /* line 7, ../../scss/posts/postrelateditem.scss */
  .post-related-item > div {
    padding: 5px; }
  /* line 12, ../../scss/posts/postrelateditem.scss */
  .post-related-item > .header {
    width: auto;
    height: auto;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-top: 1px solid #40badd;
    border-right: 1px solid #40badd;
    border-bottom: 1px solid #40badd;
    border-left: 1px solid #40badd;
    background: #56c2e1;
    color: white; }
  /* line 20, ../../scss/posts/postrelateditem.scss */
  .post-related-item > .body {
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    clear: both; }
    /* line 24, ../../scss/posts/postrelateditem.scss */
    .post-related-item > .body > .details {
      width: auto;
      height: 70px;
      margin-left: 75px; }
      /* line 28, ../../scss/posts/postrelateditem.scss */
      .post-related-item > .body > .details > p {
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 0; }
