@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Not Found";
}

<div class="list-header clearfix">
    <span>Error</span>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        Unauthorized access!
    </div>
</div>
