<div class="chat-window animate fade-right" ng-show="chatWindowVisibility()" ng-style="{ 'height' : elemHeight }">
    <div class="header">
        <h5>{{recipientName()}}</h5>
        <div class="btn-header right pull-right" ng-click="hideChatWindow()">
            <i class="fa fa-times"></i>
        </div>
    </div>
    <div class="body" ng-style="{ 'height' : bodyHeight() }">
        <div ng-repeat="chatMessage in chatMessages">
            <div class="chat-message" ng-class="isFromRecipient(chatMessage)">
                <p>{{chatMessage.Text}}</p>
                <div class="details">
                    <i class="fa fa-clock-o"></i>
                    <span>{{chatMessage.CreatedDateDisplay}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="new-message">
        <textarea placeholder="Enter message..." ng-model="newMessage" />
        <button class="btn btn-primary pull-right">
            <i class="fa fa-send"></i>
        </button>
    </div>
</div>