<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="MediaLocation" value="C:\Temp\SampleImages\" />
    <add key="ThumbnailPrefix" value="tn_" />
    <add key="ImageServer" value="localhost:4434"/>
    <add key="BlogApi" value="https://localhost:4434/api/"/>
    <add key="RedisServer" value="127.0.0.1:6379" />
    <add key="BlogRedisChannel" value="bloggity" />
  </appSettings>
  <connectionStrings>
    <add name="BlogDb" connectionString="Data Source=MAN-DJJ53GY1\SQLEXPRESS;Initial Catalog=blog;Persist Security Info=True;User ID=jason;Password=testtest1;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Blog.Services.Implementation.AddressService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="Blog.Services.Implementation.Interfaces.IAddressService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Blog.Services.Implementation.AlbumService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="Blog.Services.Implementation.Interfaces.IAlbumService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Blog.Services.Implementation.CommentLikesService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="Blog.Services.Implementation.Interfaces.ICommentLikesService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Blog.Services.Implementation.CommentsService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="Blog.Services.Implementation.Interfaces.ICommentsService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Blog.Services.Implementation.EducationService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="Blog.Services.Implementation.Interfaces.IEducationService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Blog.Services.Implementation.HobbyService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="Blog.Services.Implementation.Interfaces.IHobbyService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Blog.Services.Implementation.MediaService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="Blog.Services.Implementation.Interfaces.IMediaService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Blog.Services.Implementation.PostContentsService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="Blog.Services.Implementation.Interfaces.IPostContentsService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Blog.Services.Implementation.PostsService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="Blog.Services.Implementation.Interfaces.IPostsService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Blog.Services.Implementation.TagsService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="Blog.Services.Implementation.Interfaces.ITagsService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Blog.Services.Implementation.UsersService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="defaultBinding" contract="Blog.Services.Implementation.Interfaces.IUsersService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="defaultBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
        <binding name="secureHttpBinding">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.2.0" newVersion="2.5.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>