/* line 3, ../../scss/media/albumgroup.scss */
.album-group {
  margin-bottom: 15px;
  color: #4c4c4c; }
  /* line 7, ../../scss/media/albumgroup.scss */
  .album-group.new {
    cursor: pointer; }
    /* line 10, ../../scss/media/albumgroup.scss */
    .album-group.new:hover {
      opacity: 0.5;
      filter: alpha(opacity=50); }
  /* line 17, ../../scss/media/albumgroup.scss */
  .album-group .header h5 i {
    margin-right: 5px; }
  /* line 23, ../../scss/media/albumgroup.scss */
  .album-group .header > input[type=text] {
    margin-right: 15;
    border: none;
    border-bottom: 1px solid #cccccc;
    background: transparent;
    min-width: 250px; }
  /* line 32, ../../scss/media/albumgroup.scss */
  .album-group .header > .btn-header.right {
    width: 40px;
    height: 40px; }
    /* line 200, ../../scss/variables.scss */
    .album-group .header > .btn-header.right label {
      margin-right: 0;
      cursor: pointer; }
      /* line 204, ../../scss/variables.scss */
      .album-group .header > .btn-header.right label > input[type='file'] {
        position: fixed;
        top: -1000px; }
  /* line 37, ../../scss/media/albumgroup.scss */
  .album-group .header > .btn-header i {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0; }
  /* line 43, ../../scss/media/albumgroup.scss */
  .album-group .body {
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background: #e6e6e6; }
    /* line 49, ../../scss/media/albumgroup.scss */
    .album-group .body > ul {
      list-style-type: none;
      padding: 0 !important;
      margin: 0 !important; }
      /* line 52, ../../scss/media/albumgroup.scss */
      .album-group .body > ul .media-item-container {
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 5px; }
        /* line 55, ../../scss/media/albumgroup.scss */
        .album-group .body > ul .media-item-container .details {
          border-right: 1px solid #cccccc;
          border-bottom: 1px solid #cccccc;
          border-left: 1px solid #cccccc;
          padding-top: 15px;
          padding-right: 15px;
          padding-bottom: 15px;
          padding-left: 15px;
          background: white;
          overflow: hidden;
          color: #4c4c4c; }
          @media (max-width: 767px) {
            /* line 62, ../../scss/media/albumgroup.scss */
            .album-group .body > ul .media-item-container .details .btn {
              width: 100%; }
              /* line 66, ../../scss/media/albumgroup.scss */
              .album-group .body > ul .media-item-container .details .btn > span > i {
                margin-right: 5px; } }
