/* line 3, ../../scss/media/albumgroup.scss */
.album-group {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #4c4c4c;
}
/* line 8, ../../scss/media/albumgroup.scss */
.album-group.new {
  cursor: pointer;
}
/* line 11, ../../scss/media/albumgroup.scss */
.album-group.new:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* line 18, ../../scss/media/albumgroup.scss */
.album-group .header h5 i {
  margin-right: 5px;
}
/* line 24, ../../scss/media/albumgroup.scss */
.album-group .header > input[type=text] {
  margin-right: 15;
  border: none;
  border-bottom: 1px solid #cccccc;
  background: transparent;
  min-width: 250px;
}
/* line 33, ../../scss/media/albumgroup.scss */
.album-group .header > .btn-header.right {
  width: 40px;
  height: 40px;
}
/* line 212, C:/Users/Avel/Documents/GitHub/Blogness2.0/Blog.Web/Blog.Web.Site/Content/scss/media/../variables.scss */
.album-group .header > .btn-header.right label {
  margin-right: 0;
  cursor: pointer;
}
/* line 216, C:/Users/Avel/Documents/GitHub/Blogness2.0/Blog.Web/Blog.Web.Site/Content/scss/media/../variables.scss */
.album-group .header > .btn-header.right label > input[type='file'] {
  position: fixed;
  top: -1000px;
}
/* line 38, ../../scss/media/albumgroup.scss */
.album-group .header > .btn-header i {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
/* line 44, ../../scss/media/albumgroup.scss */
.album-group .body {
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #e6e6e6;
}
/* line 51, ../../scss/media/albumgroup.scss */
.album-group .body > ul {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
}
/* line 54, ../../scss/media/albumgroup.scss */
.album-group .body > ul .media-item-container {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
/* line 57, ../../scss/media/albumgroup.scss */
.album-group .body > ul .media-item-container .details {
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background: white;
  overflow: hidden;
  color: #4c4c4c;
}
@media (max-width: 767px) {
  /* line 65, ../../scss/media/albumgroup.scss */
  .album-group .body > ul .media-item-container .details .btn {
    width: 100%;
  }
  /* line 69, ../../scss/media/albumgroup.scss */
  .album-group .body > ul .media-item-container .details .btn > span > i {
    margin-right: 5px;
  }
}
