@import 'variables';

html, body {
    font-family: $fonts;
    @include size(auto, 100%);
}

input, select, textarea {
    max-width: $max-input-width;
}

::selection {
    color: $default-color;
    background: $primary-color;
}

::-moz-selection {
    color: $default-color;
    background: $primary-color;
}

.blog-brand-icon {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAV1BMVEUAAADHx8fOzs6pqamfn5+dnZ3BwcHExMTQ0NDf399xcXGNjY3w8PBMTExSvt1WwuFav91bv91cvttoxeBqxN5vxd9xcXF8yuHi8/jm9fnn5+fo9fn///+UDZIMAAAADXRSTlMANG16fn9/f3/z/v7+rTi8VQAAAJVJREFUeNrt2zkSgkAURVEcUVFBwQF0/+s0M6KK6qB/dXDuCk76gldVkqR/m11U29Us4HQJaw8AAAAAAAAAAAAAAABQJqB5hlXPAs7fsA4AAAAAAAAAAAAAAAAAAAAAAAAAAMUDxneGPgmA+zVDQwKgazPUAwAAAAAAAAAAACQAHrcMvSwjAAAAgCXAcQpr7dcmSQX1Axb4wNVzzdKdAAAAAElFTkSuQmCC') /*images/brand-logo.png*/;
    background-size: cover;
    float: left;
    @include position(relative, -5px, null, null, null);
    @include margin(null, 5px);
    @include size(30px, 30px);
}

.card {
    @include box-shadow(false);
    vertical-align: top;
    font-size: 1em;
    color: darken($dark-border-color, 20%);
    margin-bottom: $default-margin;

    .content {
        @include padding($default-padding);
        @include borders(1px, solid, $light-border-color, false, false, true, false);
    }
}

.success {
    @extend .card;
    color: $default-color;
    background: $success-color;

    .content {
        @include borders(1px, solid, darken($success-color, $border-darken-value), false, false, true, false);
    }
}

.warning {
    @extend .card;
    color: $default-color;
    background: $warning-color;

    .content {
        @include borders(1px, solid, darken($warning-color, $border-darken-value), false, false, true, false);
    }
}

.danger {
    @extend .card;
    color: $default-color;
    background: $danger-color;

    .content {
        @include borders(1px, solid, darken($danger-color, $border-darken-value), false, false, true, false);
    }
}

.info {
    @extend .card;
    color: $default-color;
    background: $info-color;

    .content {
        @include borders(1px, solid, darken($info-color, $border-darken-value), false, false, true, false);
    }
}

.default {
    @extend .card;
    background: $default-color;

    &.darken {
        background: $default-color-darken;
    }
}

.masonry {
    @extend .card;
    @include padding(10px);
    background: $default-color-darken;

    ul.isotope {
        @include clean-list;

        li.isotope-item {
            background: $default-color;
            @include margin(5px);

            .captions {
                @include borders(1px, solid, $light-border-color, false, true, true, true);
                @include padding($default-padding);

                p {
                    @include padding(0);
                    @include margin(0);

                    &:first-of-type {
                        font-weight: bold;
                        @include margin(0, 0, 5px);
                    }
                }
            }
        }
    }
}

.header {
    background: $dark-color;
    color: $default-color;
    @include position(relative, null);
    @include size(100%, 38px);

    &.big {
        @include padding($default-padding);
        @include margin(0);
        @include size(100%, auto);

        div:first-child {
            @include size(80px, auto);
            @include margin(0, 10px);
            float: left;

            img {
                @include size(80px, 80px);
                border-radius: 40px;
                border: 3px solid $default-color;
            }
        }

        div:last-child {
            @include size(100%, auto);

            h4 {
                @include padding(null, null, null, 90px);
                @include margin(0, 0, 5px);
                font-weight: bold;

                a {
                    color: $default-color;
                }
            }

            p {
                @include padding(null, null, null, 90px);

                a {
                    @include margin(0, 0, 5px);
                    color: $default-color;
                }
            }
        }
    }

    h5 {
        @include padding(12px, $default-padding, 12px, $default-padding);
        margin: 0;
        display: inline-block;
    }

    .btn-header {
        @include size(auto, 100%);
        @include padding(10px);
        @include position(inherit, 0, 0, null, null);
        cursor: pointer;
        color: inherit;
        text-align: center;

        &:hover {
            @include box-shadow(true);
        }

        &.left {
            border-right: 1px solid $light-border-color;
            display: inline-block;
            @include margin(null, 5px);
        }

        &.right {
            border-left: 1px solid $light-border-color;
        }
    }
}

.center-cropped {
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    @include size(70px, 70px);

    img {
        min-height: 100%;
        min-width: 100%;
        @include opacity(0);
    }
}

ui-view, *[ui-view] {
    @include position (relative, null);
}

.page-content {
    @include padding(0, $default-padding, 0, $default-padding);
}

.body-content {
    @include padding($default-padding, 0, $default-padding, 0);
    @include margin(51px, 0, 0, 0);
}

.wrap-text {
    @include ellipsis-text;
}

.fill-container {
    @include size(100%);
}

.row {
    .sticky {
        @include margin(0);
    }
}

.sticky {
    $neg-margin: unquote(($base-margin * -1) + 'px');
    @include margin(0, $neg-margin, 0, $neg-margin);
    z-index: 2000;

    &.top {
        @include position(fixed, 0, null, null, null);
    }

    &.bottom {
        @include position(fixed, null, null, 0, null);
    }
}

/* #region field validation errors */

.field-error {
    border: 1px solid darken($danger-color, $border-darken-value);
    color: $danger-color;
}

.field-validation-error {
    color: $danger-color;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid darken($danger-color, $border-darken-value);
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: $danger-color;
}

.has-error {
    background: $danger-color !important;
    color: $default-color !important;
}

.input.has-error::-webkit-input-placeholder { /* WebKit browsers */
    color: $default-color;
}

.input.has-error:hover::-webkit-input-placeholder,
.input.has-error:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: $dark-color;
}

.input.has-error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $default-color;
    opacity: 1;
}

.input.has-error:hover:-moz-placeholder,
.input.has-error:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $dark-color;
    @include opacity(1);
}

.input.has-error::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $default-color;
    opacity: 1;
}

.input.has-error:hover::-moz-placeholder,
.input.has-error:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $dark-color;
    opacity: 1;
}

.input.has-error:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $default-color;
}

.input.has-error:hover:-ms-input-placeholder,
.input.has-error:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $dark-color;
}

.validation-summary-valid {
    display: none;
}

/* #endregion */
