// base styles
$fonts: 'Open Sans', sans-serif;
$fancy-font-3d: 'Canter-Bold-3d';
$fancy-font: 'Canter-Bold';
$box-shadow-inset: inset 0 0 10px rgba(0, 0, 0, 0.5);
$base-padding: 15;
$base-margin: 15;
$base-border-radius: 0;
$default-border-radius: 0;
$default-padding: 15px;
$default-margin: 15px;
$hover-darken-value: 5%;
$border-darken-value: 5%;

// base colors
$primary-color: #56c2e1;
$dark-color: #4c4c4c; // used in headers and navigation
$light-border-color: #ddd; // used as border colors
$dark-border-color: #666; // used as border colors
$success-color: #5cb85c;
$danger-color: #d9534f;
$warning-color: #f0ad4e;
$info-color: #428bca;
$default-color: #fff;
$default-color-darken: #eee;

// mixin size: width; height;
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

// mixin padding: top, right, bottom, left;
@mixin position($value, $top, $right: $top, $bottom: $top, $left: $top) {
    @if ($value != null) {
        position: $value;
    }

    @if ($top != null) {
        top: $top;
    }

    @if ($right != null) {
        right: $right;
    }

    @if ($bottom != null) {
        bottom: $bottom;
    }

    @if ($left != null) {
        left: $left;
    }
}

// mixin padding: top, right, bottom, left;
@mixin padding($top, $right: $top, $bottom: $top, $left: $top) {
    @if ($top != null) {
        padding-top: $top;
    }

    @if ($right != null) {
        padding-right: $right;
    }

    @if ($bottom != null) {
        padding-bottom: $bottom;
    }

    @if ($left != null) {
        padding-left: $left;
    }
}

// mixin margin: top, right, bottom, left;
@mixin margin($top, $right: $top, $bottom: $top, $left: $top) {
    @if ($top != null) {
        margin-top: $top;
    }

    @if ($right != null) {
        margin-right: $right;
    }

    @if ($bottom != null) {
        margin-bottom: $bottom;
    }

    @if ($left != null) {
        margin-left: $left;
    }
}

// mixin opacity: value;
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

// mixin clean ul
@mixin clean-list {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

// mixin mediaqueries: breakpoint value;
@mixin media($point) {
    @if $point == lg {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else if $point == md {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $point == sm {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $point == xs {
        @media (max-width: 767px) {
            @content;
        }
    }
}

// mixin center
@mixin center {
    margin: 0 auto;
    text-align: center;
}

// mixin background
@mixin background($args) {
    background: $args;
}

// mixin transition
@mixin transition($args) {
    -moz-transition: $args !important;
    -o-transition: $args !important;
    -webkit-transition: $args !important;
    transition: $args !important;
}

// mixin hidden file input
@mixin hidden-file-input {
    label {
        @include margin(null, 0);
        cursor: pointer;

        > input[type='file'] {
            position: fixed;
            top: -1000px;
        }
    }
}

// mixin borders: size, type, color, top, left, bottom, right;
@mixin borders ($size, $type, $color, $top, $left: $top, $bottom: $top, $right: $top) {
    @if ($size == null) {
        $size: 1px;
    }

    @if ($type == null) {
        $type: solid;
    }

    @if ($color == null) {
        $color: $light-border-color;
    }

    @if ($top != null and $top) {
        border-top: $size $type $color;
    }

    @if ($right != null and $right) {
        border-right: $size $type $color;
    }

    @if ($bottom != null and $bottom) {
        border-bottom: $size $type $color;
    }

    @if ($left != null and $left) {
        border-left: $size $type $color;
    }
}

// mixin header icon
@mixin header-edit-icon {
    .header {
        h4 {
            .edit {
                @include opacity(1);
                display: inline-block;
                cursor: pointer;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
                -o-transition: opacity .25s ease-in-out;
                transition: opacity .25s ease-in-out;

                &:hover {
                    @include opacity(0.5);
                }
            }
        }
    }
}
