@import '../variables.scss';

#logged-user-info {
    @include margin(8px, unquote(($base-margin * 2) + 'px'), 8px, $default-margin);
    @include border-radius(null, false);
    display: inline-block;

    @include media(xs) {
        @include margin(0);
    }

    .btn-group, button, ul {
        @include size(100%, auto);
    }

    button {
        @include media(xs) {
            @include padding($default-padding);
        }
    }

    ul {
        @include border-radius(null, false);
        @include padding(0);
        background: $default-color;

        li {

            &:first-child {
                a {
                    @include border-radius(null, false, true, true, false, false);
                }
            }

            &:last-child {
                a {
                    @include border-radius(null, false, false, false, true, true);
                }
            }

            a {
                border: none;
                color: $content-font-color;

                &:hover {
                    background: $primary-color;
                    color: $main-font-color;
                }
            }
        }
    }
}
