@import '../variables';

.login-form.register {
    @include border-radius(null, false);

    .content {
        @include padding(0);
    }

    .panel {
        border: 0;

        .panel-heading {
            @include border-radius(null, false);
            color: $main-font-color;
            background: $main-color;
            border-color: darken($dark-border-color, $border-darken-value);
        }
    }
}