@import '../variables';

.login-form.register {
    .content {
        @include padding(0);
    }

    .panel {
        border: 0;

        .panel-heading {
            color: $main-font-color;
            background: $main-color;
            border-color: darken($dark-border-color, $border-darken-value);
            border-radius: $default-border-radius;
        }
    }
}