<div class="media-item">
    <div ng-if="isThumbnail()">
        <div ng-class="isCropped()" ng-style="getThumbnailUrl()">
            <img ng-src="{{media.ThumbnailUrl}}" />
        </div>
    </div>
    <div ng-if="!isThumbnail()">
        <div ng-if="isVideo()">
            <video-player media="media"></video-player>
        </div>
        <div ng-if="!isVideo()">
            <img ng-src="{{media.MediaUrl}}" ng-class="isCropped()" ng-style="getThumbnailUrl()" />
        </div>
    </div>
    <button class="btn btn-danger" ng-show="toggleDelete()" ng-click="deleteMedia()">
        <i class="fa fa-trash"></i>
    </button>
    <h5 ng-show="toggleGallery()" ng-click="viewAsGallery()" ng-class="isVideo()">
        <i class="fa fa-search-plus"></i>View as gallery
    </h5>
</div>
