<div class="post-related-item">
    <div class="header">
        <a href="{{post.Url}}">{{post.PostTitle}}</a>
    </div>
    <div class="body">
        <div media-item media="post.PostContents[0].Media" data-crop="true" data-mode="thumbnail"></div>
        <div class="details">
            <p>
                <span>{{post.PostContents.length}} images by</span>
                <a>{{post.User.UserName}}</a>
            </p>
            <p>
                <span>{{post.DateDisplay}}</span>
            </p>
            <div post-likes list="postLikes" post-id="post.Id"></div>
        </div>
    </div>
</div>