@{
    ViewBag.Title = "Bloggity Blog";
}

<header-menu></header-menu>

<snap-drawers>
    <div snap-drawer>
        <navigation-menu></navigation-menu>
    </div>
    <div snap-drawer="right">
        <h4>Right Drawer</h4>
    </div>
</snap-drawers>

<snap-content>
    <div class="container" ng-controller="postsController">
        <posts-main posts="posts" size="size" get-error-type="getErrorType()" load-more-posts="loadMorePosts()"></posts-main>
    </div>
</snap-content>
