@{
    ViewBag.Title = "Home Page";
}

<div id="main-container">
    <navigation-menu></navigation-menu>
    <div class="main-pusher">
        <div class="main-content">
            <div class="main-content-inner">
                <header-menu></header-menu>
                <div class="container">
                    <posts-main></posts-main>
                </div>
            </div>
        </div>
    </div>
</div>

