@{
    ViewBag.Title = "Bloggity Blog";
}

<header-menu></header-menu>

<snap-drawers>
    <div snap-drawer>
        <navigation-menu></navigation-menu>
    </div>
    <div snap-drawer="right">
        <h4>Right Drawer</h4>
    </div>
</snap-drawers>

<snap-content>
    <div class="container body-content">
        <div ng-view></div>
    </div>
</snap-content>
