<div>
    <div class="file-upload" ng-file-drop>
        <label class="btn btn-primary">
            Choose from your computer..
            <input nv-file-select type="file" uploader="uploader" multiple />
        </label>
        <div class="well dropzone" nv-file-over="" uploader="uploader">
            <h4>Drag files here...</h4>
            <p>You have {{ uploader.queue.length }} items</p>
            <div class="btn btn-primary upload-all" ng-click="uploader.uploadAll()">
                <i class="fa fa-upload"></i>Upload all
            </div>
            <div class="upload-items">
                <div deckgrid source="uploader.queue" class="deckgrid">
                    <div class="card" data-media-id="{{card.mediaId}}" file-upload-item item="card" uploader="uploader"></div>
                </div>
            </div>
        </div>
    </div>
</div>