<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="RedisServer" value="10.117.210.30" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RedisPort" value="6379" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BlogServer" value="MAN-DJJ53GY1:4433" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BlogApi" value="https://MAN-DJJ53GY1:4433/blogapi/api/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BlogRoot" value="https://MAN-DJJ53GY1:4433/blog/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SessionCookieName" value="blog" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>