@import '../variables';

.comment-item-new {
    @include size(inherit, 90px);
    @include position(relative, null);
    @include margin($default-margin, $default-margin, 0);
    @include box-shadow(false);
    background: $default-color;

    textarea {
        @include size(80%, 100%);
        max-width: 80%;
        resize: none;
        color: $content-font-color;
        @include borders(1px, solid, $light-border-color, false, true, true, true);
    }

    div {
        @include position(absolute, 0, 0, null, null);
        @include padding(8px);
        @include size(20%, 100%);
        @include borders(1px, solid, $light-border-color, true, true, true, false);

        @include media(xs) {
            @include padding(0);
        }

        button {
            @include size(100%, auto);
            @include margin(0, 0, 5px);

            @include media(xs) {
                @include size(100%, 50%);
                @include padding(7px);
                @include margin(0);
            }
        }
    }
}
