div.tag-item {
    display: inline-block;
    color: #eee;
    background: #56c2e1;
    border: 1px solid #46b3d3;
    padding: 5px;
    margin: 0 5px 10px 0;
    cursor: pointer;
    box-shadow: inset 0 0 1px hsla(0, 0%, 100%, 0.1);
    -webkit-text-shadow: 0 1px 0 rgba(0,0,0,0.25);
    text-shadow: 0 1px 0 rgba(0,0,0,0.25);
}

    div.tag-item:hover {
        background: #3f9db8;
        border: 1px solid hsla(0, 0%, 100%, 0.75);
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    }

    div.tag-item > i {
        margin-right: 5px;
    }
