@{ Response.StatusCode = 500; }
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Error!</h1>
    <p class="lead">This is not the page you are looking for..</p>
    <p><a href="http://www.imgur.com" class="btn btn-primary btn-lg">Take a break &raquo;</a></p>
</div>

