<div id="post-item-{{post.PostId}}" ng-class="getPostSize()" class="content-item">
    <div class="post-item-header row" data-user-id="{{post.CreatedBy}}">
        <div>
            <img ng-src="{{user.Picture.MediaUrl}}" />
        </div>
        <div>
            <h4>
                <a href="./#/post/{{post.PostId}}">{{post.PostTitle}}</a>
            </h4>
            <p>
                <a>{{post.User.UserName}}</a>
                <span>{{post.CreatedDate}}</span>
            </p>
        </div>
    </div>
    <div class="post-item-body">
        <p ng-bind-html="post.PostMessage"></p>
    </div>
    <div class="post-item-contents">
        <div post-contents contents="post.PostContents"></div>
    </div>
    <div class="post-item-details">
        <div post-likes data="{ PostLikes: post.PostLikes, PostId: post.PostId }"></div>
    </div>
    <div class="post-item-comments">
        <ul ticker data-enable-pause="true" data-pause-element="popover">
            <li ng-repeat="comment in post.Comments">
                <div post-item-comment comment="comment"></div>
            </li>
        </ul>
    </div>
    <div class="post-item-tags">
        <div tag-item tag="tag" ng-repeat="tag in post.Tags"></div>
    </div>
</div>