.navigation-menu {
    width: 100%;
    height: 100%;
    background: #4c4c4c;
    color: #999;
    border-right: 1px solid #333;
    padding-top: 50px;
}

    .navigation-menu:after {
        width: 100%;
        height: auto;
        background: #4c4c4c;
        color: #999;
        border-right: 1px solid #333;
    }

    .navigation-menu > ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .navigation-menu > ul > li > a {
            display: block;
            padding: 15px;
            outline: none;
            -webkit-box-shadow: inset 0 -1px #000000;
            -webkit-box-shadow: inset 0 -1px #000000;
            -ms-box-shadow: inset 0 -1px #000000;
            -ms-box-shadow: inset 0 -1px rgba(0,0,0,0.2);
            box-shadow: inset 0 -1px #000000;
            box-shadow: inset 0 -1px rgba(0,0,0,0.2);
            color: #999;
            text-transform: uppercase;
            -webkit-text-shadow: 0 0 1px #ffffff;
            -ms-text-shadow: 0 0 1px #ffffff;
            -ms-text-shadow: 0 0 1px rgba(255,255,255,0.1);
            text-shadow: 0 0 1px #ffffff;
            text-shadow: 0 0 1px rgba(255,255,255,0.1);
            letter-spacing: 1px;
            font-weight: 400;
            -webkit-transition: background 0.3s, box-shadow 0.3s;
            -moz-transition: background 0.3s, box-shadow 0.3s;
            -o-transition: background 0.3s, box-shadow 0.3s;
            transition: background 0.3s, box-shadow 0.3s;
        }

            .navigation-menu > ul > li > a > form {
                position: relative;
            }

                .navigation-menu > ul > li > a > form .fa-search {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }

            .navigation-menu > ul > li > a > i {
                font-size: 1.5em;
                margin-right: 10px;
            }