@model Blog.Backend.Services.BlogService.Contracts.BlogObjects.Post

<div class="post-edit-buttons-container">
    @using (Html.BeginForm("ModifyPost", "Posts", FormMethod.Get))
    {
        <input type="button" data-modify="true" value="Modify" id="btnModifyPost_@Model.PostId" />
        <input type="button" data-delete="true" value="Delete" id="btnDeletePost_@Model.PostId" />
    }
</div>

<script>window.Blog.Events.initPostModification(@Model.PostId);</script>
