@model Blog.Frontend.Web.Models.PostDetails

<div class="post-details-social-container">
    <div class="post-details-social-facebook">
        <span>facebook</span>
        <img src="#" />
    </div>
    <div class="post-details-social-twitter">
        <span>twitter</span>
        <img src="#" />
    </div>
    <div class="post-details-social-info">
        <span>This post is created at @Html.ValueFor(model => model.CreatedDate)</span>
        <div id="postDetailsLikes_@Model.PostId" class="likes-container">
            @Html.Partial("_Likes", new Blog.Frontend.Web.Models.Likes { Id = Model.PostId, Count = Model.Likes.Count })
        </div>
    </div>
    <script>window.Blog.Events.initPostDetails(@Model.PostId)</script>
</div>
