@model Blog.Backend.Services.BlogService.Contracts.BlogObjects.Post

<div class="blog-post-container">
    @Html.Partial("_UserPost", GetPostView(Model));
    <br />
</div>

@functions
{
    public Blog.Frontend.Web.Models.PostView GetPostView(Blog.Backend.Services.BlogService.Contracts.BlogObjects.Post post)
    {
        var postview = new Blog.Frontend.Web.Models.PostView { Post = post, IsAdd = false, IsEdit = false, DisplayComments = true };
        return postview;
    }
}