<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="BlogDb"
        connectionString="Data Source=MAN-DJJ53GY1\SQLEXPRESS;Initial Catalog=blog;Persist Security Info=True;User ID=jason;Password=testtest1;"
        providerName="System.Data.SqlClient"
        xdt:Transform="Replace"
        xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>