<div id="modify-post-main">
    <div class="modify-post-title">
        <span>Title</span>
        <input ng-model="post.PostTitle" />
    </div>
    <div class="modify-post-message">
        <h5>Message</h5>
        <textarea id="post-message-editor" ckeditor="editorOptions" ck-editor-helper ng-model="post.PostMessage"
                  data-browse-url="http://localhost/oldblog/Media/Browse?CKEditorFuncNum=1" data-upload-url="http://localhost/oldblog/Media/Browse?CKEditorFuncNum=1"
                  data-image-window-width="640" data-image-window-height="480"></textarea>
    </div>
    <div class="modify-post-contents">
        <div file-upload uploader="uploader"></div>
    </div>
    <div class="modify-post-tags">
        <tags-input ng-model="Tags" add-on-enter="true" add-on-comma="true" 
                    on-tag-added="onTagAdded($tag)" on-tag-removed="onTagRemoved($tag)">
            <auto-complete source="getTagsSource($query)" highlight-matched-text="true" debounce-delay="1500"></auto-complete>
        </tags-input>
    </div>
    <div class="modify-post-buttons">
        <button class="btn btn-primary" ng-click="savePost()">Save</button>
        <button class="btn btn-danger" ng-click="cancelPost()">Cancel</button>
    </div>
</div>