<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    <h2>Blog Rest API</h2>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Jason Magpantay</p>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
</body>
</html>
