.card.masonry > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.board-item {
    background: #eee;
}

    .board-item > .board-item-header {
        position: relative;
    }

        .board-item > .board-item-header > h4 {
            background: #4c4c4c;
            color: #fff;
            padding: 15px;
            margin: 0;
        }
