/* line 18, ../../scss/extensions/angular-snap.scss */
snap-content,
[snap\:content],
[snap-content],
[data-snap-content],
[x-snap-content],
.snap-content,
.x-snap-content,
snap-drawers,
[snap\:drawers],
[snap-drawers],
[data-snap-drawers],
[x-snap-drawers],
.snap-drawers,
.x-snap-drawers,
.snap-drawers,
.snap-content {
  background: #eeeeee url("../../images/bg.jpg") no-repeat right top;
}

/* line 22, ../../scss/extensions/angular-snap.scss */
snap-drawer, [snap\:drawer], [snap-drawer], [data-snap-drawer], [x-snap-drawer], .snap-drawer, .x-snap-drawer, .snap-drawer {
  width: 320px;
}

/* line 26, ../../scss/extensions/angular-snap.scss */
.snap-drawer-right {
  overflow-x: hidden;
}
