/* line 3, ../../scss/extensions/isotope.scss */
.isotope-item {
  z-index: 2;
}

/* line 7, ../../scss/extensions/isotope.scss */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* line 13, ../../scss/extensions/isotope.scss */
.isotope .isotope-item {
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* line 26, ../../scss/extensions/isotope.scss */
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
}

/* line 33, ../../scss/extensions/isotope.scss */
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
