<div id="blog-header">
    <div class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#blog-header-collapsible">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navmenu-toggle" ng-class="toggleClass">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <a class="navbar-brand" snap-toggle>
                <span class="blog-brand-icon"></span>
                Bloggity Blog
            </a>
        </div>
        <div class="collapse navbar-collapse" id="blog-header-collapsible" data-toggle="false">
            <ul class="nav navbar-nav">
                <li>
                    <a ng-click="goAddNewPost()">
                        <i class="fa fa-plus-circle"></i>Add new post
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Testing stuff <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="header-dropdown-item">
                            <a data-anijs="if: mouseover, do: pulse animated" ng-click="testDisplayError()">Display error</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a ng-click="getUserInfo()">Get user info</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a ng-click="toggleSocketDebugger()">Toggle socket debugger</a>
                        </li>
                        <li class="header-dropdown-item">
                            <a ng-click="showLoginForm()">Login form</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="nav navbar-nav navbar-right">
                <div logged-user></div>
            </div>
        </div>
    </div>

    <nav class="add-post visible-xs">
        <a ng-click="goAddNewPost()">
            <i class="fa fa-plus"></i>
        </a>
    </nav>
</div>