<nav class="navigation-menu" id="navigation-menu">
    <ul>
        <li class="visible-xs">
            <a>
                <div logged-user></div>
            </a>
        </li>
        <li>
            <a>
                <form role="search">
                    <input type="text" class="form-control" placeholder="Search">
                    <i class="fa fa-search">
                        <input type="submit" class="hidden" />
                    </i>
                </form>
            </a>
        </li>
        <li ng-repeat="navigationItem in navigationItems">
            <a class="icon" href="{{navigationItem.href}}" ng-click="toggleNavigation()">
                <i class="fa" ng-class="navigationItem.icon"></i>
                {{navigationItem.text}}
            </a>
        </li>
    </ul>
</nav>