<nav class="navigation-menu navigation-effect" id="navigation-menu">
    <div class="user-info">
        <h4 class="icon icon-lab" ng-show="isLoggedIn()">{{userFullName}}</h4>
        <div ng-show="!isLoggedIn()">
            <p>You are not logged in.</p>
            <button class="btn btn-primary" ng-click="launchLoginForm()">Click here to log in or register</button>
        </div>
    </div>
    <ul>
        <li ng-repeat="navigationItem in navigationItems">
            <a class="icon icon-data" href="{{navigationItem.href}}" ng-click="toggleNavigation()">
                <img ng-src="{{navigationItem.icon}}" />
                {{navigationItem.text}}
            </a>
        </li>
    </ul>
</nav>