@media (min-width: 992px) {
  /* line 4, ../../scss/loginform/loginformmodal.scss */
  #login-form-modal .modal-dialog {
    width: 35%;
  }
}
/* line 10, ../../scss/loginform/loginformmodal.scss */
#login-form-modal .modal-dialog .modal-content .modal-body {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
}
/* line 17, ../../scss/loginform/loginformmodal.scss */
#login-form-modal .modal-dialog .modal-content .modal-body > .flipper {
  -moz-transition: 0.6s !important;
  -o-transition: 0.6s !important;
  -webkit-transition: 0.6s !important;
  transition: 0.6s !important;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 23, ../../scss/loginform/loginformmodal.scss */
#login-form-modal .modal-dialog .modal-content .modal-body > .flipper > .login-form, #login-form-modal .modal-dialog .modal-content .modal-body > .flipper > .register {
  position: absolute;
  top: 0;
  left: 0;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 30, ../../scss/loginform/loginformmodal.scss */
#login-form-modal .modal-dialog .modal-content .modal-body > .flipper > .login-form {
  z-index: 1020;
}
/* line 34, ../../scss/loginform/loginformmodal.scss */
#login-form-modal .modal-dialog .modal-content .modal-body > .flipper > .register {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 44, ../../scss/loginform/loginformmodal.scss */
#login-form-modal .modal-dialog .modal-content .modal-body.hover > .flipper {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
