#blog-header > .navbar > .navbar-header > div.navmenu-toggle {
    display: inline-block;
    position: absolute;
    top: 15px;
}

    #blog-header > .navbar > .navbar-header > div.navmenu-toggle > span {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        margin-top: 4px;
        background: #fff;
    }

#blog-header > .navbar > .navbar-header > div.nav-open {
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    left: -15px;
}

#blog-header > .navbar > .navbar-header > div.nav-close {
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    left: -10px;
}
