/* line 4, ../../scss/extensions/blockui.scss */
.blockUI.blockMsg {
  position: fixed;
  top: 40%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  text-align: center;
  color: #000 !important;
  border: none;
  background-color: white !important;
  cursor: default;
}
/* line 15, ../../scss/extensions/blockui.scss */
.blockUI.blockMsg > .alert {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
