/* line 3, ../../scss/extensions/videogular.scss */
videogular {
  text-align: left; }
  /* line 6, ../../scss/extensions/videogular.scss */
  videogular video {
    min-height: 380px;
    max-height: 380px !important; }
