@import '../variables';

#blog-header {
    overflow: hidden;

    .messages-toggle {
        @include size(auto, 100%);
        @include margin(8px, $default-margin, 8px, $default-margin);
        display: inline-block;
        color: $default-color;
        cursor: pointer;

        &:hover {
            color: darken($default-color, $hover-darken-value);
            text-decoration: underline;
        }
    }

    i {
        @include margin(null, 7px);
    }

    .header-dropdown-item {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .add-post {
        @include size(unquote(($base-margin * 3) + 'px'));
        @include position(absolute, null, 30px, unquote((($base-margin /3) * 2) + 'px'));
        @include center;
        @include borders(1px, solid, darken($primary-color, $border-darken-value), true, true, true, true);
        @include box-shadow(false);
        @include border-radius(round, false);
        cursor: pointer;
        background: $primary-color;
        z-index: 50;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        -moz-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        -o-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background: darken($primary-color, $hover-darken-value);
        }

        i, a {
            color: $main-font-color;
        }

        i {
            @include margin(0);
            font-size: 1.2em;
        }

        a {
            @extend i;
            @include position(relative, 13px, null, null, null);
        }
    }
}
