/* line 3, ../../scss/header/headermenu.scss */
#blog-header {
  overflow: hidden; }
  /* line 6, ../../scss/header/headermenu.scss */
  #blog-header i, #blog-header .add-post a {
    margin-right: 7px; }
  /* line 10, ../../scss/header/headermenu.scss */
  #blog-header .header-dropdown-item {
    cursor: pointer; }
    /* line 13, ../../scss/header/headermenu.scss */
    #blog-header .header-dropdown-item:hover {
      text-decoration: underline; }
  /* line 18, ../../scss/header/headermenu.scss */
  #blog-header .add-post {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 30px;
    bottom: 15px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #40badd;
    border-right: 1px solid #40badd;
    border-bottom: 1px solid #40badd;
    border-left: 1px solid #40badd;
    box-shadow: 0 2px 4px 0 #cccccc;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background: #56c2e1;
    z-index: 50;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
    /* line 34, ../../scss/header/headermenu.scss */
    #blog-header .add-post i, #blog-header .add-post a, #blog-header .add-post a {
      color: white; }
    /* line 38, ../../scss/header/headermenu.scss */
    #blog-header .add-post i, #blog-header .add-post a {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
      font-size: 1.2em; }
    /* line 43, ../../scss/header/headermenu.scss */
    #blog-header .add-post a {
      position: relative;
      top: 13px; }
