#blog-header {
    overflow: hidden;
}

    #blog-header i {
        margin-right: 7px;
    }

    #blog-header .header-dropdown-item {
        cursor: pointer;
    }

        #blog-header .header-dropdown-item:hover {
            text-decoration: underline;
        }

    #blog-header .add-post {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        position: absolute;
        bottom: 15px;
        right: 15px;
        z-index: 3;
        background: #56c2e1;
        border: 1px solid #46b3d3;
        border-radius: 50%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    }

        #blog-header .add-post a,
        #blog-header .add-post i {
            color: #fff;
        }

        #blog-header .add-post a {
            position: relative;
            top: 13px;
            left: 15px;
        }

        #blog-header .add-post i {
            margin: 0;
            font-size: 1.5em;
        }
