<div class="user-image" data-user-id="{{user.Id}}">
    <div class="user-background-image">
        <img ng-src="{{backgroundImageUrl}}" />
        <label class="fa fa-picture-o edit" ng-click="updateBackgroundImage()" ng-show="showUpdateImages()" data-placement="bottom-right"
               data-animation="am-flip-x" title="Update background image?" data-content="Click here to change your background image."
               data-trigger="hover" bs-popover>
            <input nv-file-select type="file" uploader="uploader" />
        </label>
    </div>
    <div class="details">
        <div class="user-profile-image">
            <img ng-src="{{profileImageUrl}}" />
            <label class="fa fa-camera-retro edit" ng-click="updateProfileImage()" ng-show="showUpdateImages()" data-placement="bottom"
                   data-animation="am-flip-x" title="Update profile image?" data-content="Click here to change your profile image."
                   data-trigger="hover" bs-popover>
                <input nv-file-select type="file" uploader="uploader" />
            </label>
        </div>
        <div>
            <h4>{{fullname}}</h4>
            <p>
                <a user-info-popup user="user">@{{user.UserName}}</a>
            </p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>