#socket-debugger {
    position: fixed;
    height: 250px;
    width: 300px;
    overflow: scroll;
    padding: 10px;
    bottom: 0;
    right: 15px;
    background: #eee;
    border: 1px solid #999;
    z-index: 10;
}

    #socket-debugger > div {
        background: #fff;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
    }

        #socket-debugger > div > p {
            font-family: inherit;
            color: #333;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
        }

            #socket-debugger > div > p > code {
                font-family: Consolas;
                width: 100%;
            }