body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-left: 0 !important;
}

.blog-brand-icon {
    background-image: url(images/brand-logo.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    float: left;
    position: relative;
    top: -5px;
    margin-right: 5px;
}
