<div>
    <div class="file-upload" ng-file-drop>
        <input ng-file-select type="file" multiple />
        <div class="well dropzone" ng-file-over>
            <h4>Drag files here...</h4>
            <p>You have {{ uploader.queue.length }} items</p>
            <div class="btn btn-primary upload-all" ng-click="uploader.uploadAll()">
                <i class="fa fa-upload"></i>Upload all</div>
            <div>
                <ul class="upload-items" isotope-container isotope-item-resize>
                    <li ng-repeat="item in uploader.queue" isotope-item class="content-item">
                        <div data-media-id="{{item.mediaId}}" file-upload-item item="item" uploader="uploader"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>