<h2>Welcome to Bloggity REST API</h2>
<h4>Here are the available resources you can use:</h4>
<ul>
    <li>Account</li>
    <li>Album</li>
    <li>Chat Messages</li>
    <li>Comment Likes</li>
    <li>Debug</li>
    <li>Education</li>
    <li>Hobbies</li>
    <li>Log</li>
    <li>Media</li>
    <li>Post Content</li>
    <li>Post Likes</li>
    <li>Posts</li>
    <li>Tags</li>
    <li>Users</li>
    <li>View Count</li>
</ul>