<form name="login-form" class="login-form" action="" method="post">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="header">
                <h1>Bloggity Blog</h1>
                <span>Fill out the form below to login to Bloggity.</span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label class="error-message" ng-show="showErrorMessage()">{{errorMessage}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input name="username" type="text" class="input username" ng-class="hasError()" placeholder="Username" ng-model="username" ng-enter="login()" />
                <div class="user-icon"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input name="password" type="password" class="input password" ng-class="hasError()"  placeholder="Password" ng-model="password" ng-enter="login()" />
                <div class="pass-icon"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input name="username" type="checkbox" ng-model="rememberMe" name="rememberMe">
                <span>Remember me</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="footer">
                <input type="button" name="login" value="Login" class="button" ng-click="login()" />
                <input type="button" name="register" value="Register" class="register" ng-show="isModal()" ng-click="showRegisterForm()" />
            </div>
        </div>
    </div>
</form>