<form name="login-form" class="login-form" action="" method="post">
    <div class="header">
        <h1>Bloggity Blog</h1>
        <span>Fill out the form below to login to Bloggity.</span>
    </div>
    <div class="content">
        <label class="error-message" ng-show="showErrorMessage()">{{errorMessage}}</label>
        <div>
            <input name="username" type="text" class="input username" ng-class="hasError()" placeholder="Username" ng-model="username" ng-enter="login()" />
            <div class="user-icon"></div>
        </div>
        <div>
            <input name="password" type="password" class="input password" ng-class="hasError()" placeholder="Password" ng-model="password" ng-enter="login()" />
            <div class="pass-icon"></div>
        </div>
        <input name="username" type="checkbox" ng-model="rememberMe" name="rememberMe">
        <span>Remember me</span>
    </div>
    <div class="footer">
        <input type="button" name="login" value="Login" class="button" ng-click="login()" />
        <input type="button" name="register" value="Register" class="register" ng-show="isModal()" ng-click="showRegisterForm()"
               data-placement="top" title="{{registerPopover.title}}" data-animation="am-flip-x" data-content="{{registerPopover.content}}" data-trigger="hover" bs-popover />
    </div>
</form>