<form name="register-form" class="login-form register" action="" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Fill out the form below to register to Bloggity.</h3>
        </div>
        <div class="panel-body">
            <div class="content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="error-message" ng-show="showMainErrorMessage()">{{mainErrorMessage}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="error-message"></p>
                        <input name="username" type="text" class="input" ng-class="hasError('username')" placeholder="Username" ng-model="username" ng-enter="register()" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="error-message"></p>
                        <input name="password" type="password" class="input" ng-class="hasError('password')" placeholder="Password" ng-model="password" ng-enter="register()" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="error-message"></p>
                        <input name="confirmpassword" type="password" class="input" ng-class="hasError('confirmpassword')" placeholder="Confirm Password" ng-model="confirmPassword" ng-enter="register()" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="error-message"></p>
                        <input name="firstname" type="text" class="input" ng-class="hasError('firstname')" placeholder="First Name" ng-model="firstName" ng-enter="register()" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="error-message"></p>
                        <input name="lastname" type="text" class="input" ng-class="hasError('lastname')" placeholder="Last Name" ng-model="lastName" ng-enter="register()" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="error-message"></p>
                        <input name="email" type="text" class="input" ng-class="hasError('email')" placeholder="Email" ng-model="email" ng-enter="register()" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="error-message"></p>
                        <input name="birthdate" type="text" class="input" ng-class="hasError('birthdate')" placeholder="Birthdate"
                               ng-model="birthDate" ng-enter="register()" bs-datepicker data-placement="top" data-iconLeft="fa fa-calendar" data-autoclose="true" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="isModal()">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="footer">
                <input type="button" name="confirm" class="button" value="Register" ng-click="register()" />
                <input type="button" name="backToLogin" class="back" value="Back to login" ng-click="showLoginForm()" />
            </div>
        </div>
    </div>
</form>