.page-content.ng-enter {
  z-index: 8888;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInLeft;
  -moz-animation-name: bounceInLeft;
  -o-animation-name: bounceInLeft;
  animation-name: bounceInLeft; }

/*ui-view, *[ui-view] {
    ui-view, *[ui-view] {
        -o-animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -o-animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -moz-animation-name: bounceInUp;
        -o-animation-name: bounceInUp;
        -webkit-animation-name: bounceInUp;
        animation-name: bounceInUp;
    }
}*/
.animate {
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -o-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
  .animate.fade-in {
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn; }
    .animate.fade-in.ng-hide {
      -moz-animation-name: fadeOut;
      -o-animation-name: fadeOut;
      -webkit-animation-name: fadeOut;
      animation-name: fadeOut; }
  .animate.fade-up {
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown; }
    .animate.fade-up.ng-hide {
      -moz-animation-name: fadeOutUp;
      -o-animation-name: fadeOutUp;
      -webkit-animation-name: fadeOutUp;
      animation-name: fadeOutUp; }
  .animate.fade-down {
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp; }
    .animate.fade-down.ng-hide {
      -moz-animation-name: fadeOutDown;
      -o-animation-name: fadeOutDown;
      -webkit-animation-name: fadeOutDown;
      animation-name: fadeOutDown; }
  .animate.fade-left {
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft; }
    .animate.fade-left.ng-hide {
      -moz-animation-name: fadeOutRight;
      -o-animation-name: fadeOutRight;
      -webkit-animation-name: fadeOutRight;
      animation-name: fadeOutRight; }
  .animate.fade-right {
    -moz-animation-name: fadeInRight;
    -o-animation-name: fadeInRight;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight; }
    .animate.fade-right.ng-hide {
      -moz-animation-name: fadeOutRight;
      -o-animation-name: fadeOutRight;
      -webkit-animation-name: fadeOutRight;
      animation-name: fadeOutRight; }
  .animate.bounce-up {
    -moz-animation-name: bounceInUp;
    -o-animation-name: bounceInUp;
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp; }
    .animate.bounce-up.ng-hide {
      -moz-animation-name: bounceInDown;
      -o-animation-name: bounceInDown;
      -webkit-animation-name: bounceInDown;
      animation-name: bounceInDown; }
  .animate.rotate-in-right {
    -moz-animation-name: rotateInDownRight;
    -o-animation-name: rotateInDownRight;
    -webkit-animation-name: rotateInDownRight;
    animation-name: rotateInDownRight; }
    .animate.rotate-in-right.ng-hide {
      -moz-animation-name: rotateOutUpRight;
      -o-animation-name: rotateOutUpRight;
      -webkit-animation-name: rotateOutUpRight;
      animation-name: rotateOutUpRight; }
  .animate.flip-x {
    -moz-animation-name: flipInX;
    -o-animation-name: flipInX;
    -webkit-animation-name: flipInX;
    animation-name: flipInX; }
    .animate.flip-x.ng-hide {
      -moz-animation-name: flipOutX;
      -o-animation-name: flipOutX;
      -webkit-animation-name: flipOutX;
      animation-name: flipOutX; }

@-moz-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    transform: translateX(-2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px); }

  80% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px); }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    transform: translateX(-2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px); }

  80% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px); }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -o-transform: translateX(-2000px);
    transform: translateX(-2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px); }

  80% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px); }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

/*# sourceMappingURL=animations.css.map */