/* #region base element styles */
html, body {
  font-family: 'Open Sans', sans-serif;
  width: auto;
  height: 100%; }

input, select, textarea {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  max-width: 100%; }

textarea {
  resize: none; }

a {
  color: #fff; }
  a:hover {
    color: #fff;
    text-decoration: underline; }

::selection {
  color: #fff;
  background: #56c2e1; }

::-moz-selection {
  color: #fff;
  background: #56c2e1; }

/* #endregion */
/* #region card class */
.card, .success, .warning, .danger, .info, .default, .masonry {
  box-shadow: 0 2px 4px 0 #ccc;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  vertical-align: top;
  font-size: 1em;
  color: #333333;
  margin-bottom: 15px; }
  .card .content, .card .success, .card .warning, .card .danger, .card .info, .card .default, .card .masonry {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #cccccc; }
    .card .content:last-child, .card .success, .card .warning, .card .danger, .card .info, .card .default, .card .masonry {
      border-bottom: 0; }
  .card.large, .large.success, .large.warning, .large.danger, .large.info, .large.default, .large.masonry {
    width: 24%; }
  .card.xlarge, .xlarge.success, .xlarge.warning, .xlarge.danger, .xlarge.info, .xlarge.default, .xlarge.masonry {
    width: 19%; }
  .card.medium, .medium.success, .medium.warning, .medium.danger, .medium.info, .medium.default, .medium.masonry {
    width: 31.5%; }
  .card.small, .small.success, .small.warning, .small.danger, .small.info, .small.default, .small.masonry {
    width: 48%; }
  .card.xsmall, .xsmall.success, .xsmall.warning, .xsmall.danger, .xsmall.info, .xsmall.default, .xsmall.masonry {
    width: 98%; }

.success {
  color: #fff;
  background: #5cb85c; }
  .success .content {
    border-bottom: 1px solid #4eae4c; }

.warning {
  color: #fff;
  background: #f0ad4e; }
  .warning .content {
    border-bottom: 1px solid #eea236; }

.danger {
  color: #fff;
  background: #d9534f; }
  .danger .content {
    border-bottom: 1px solid #d43d3a; }

.info {
  color: #fff;
  background: #428bca; }
  .info .content {
    border-bottom: 1px solid #3580bd; }

.default {
  background: #fff; }
  .default.darken {
    background: #e6e6e6; }

.masonry {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background: #e6e6e6; }
  .masonry ul.isotope {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important; }
    .masonry ul.isotope li.isotope-item {
      background: #fff;
      margin-top: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
      margin-left: 5px; }
      .masonry ul.isotope li.isotope-item .captions {
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px; }
        .masonry ul.isotope li.isotope-item .captions p {
          padding-top: 0;
          padding-right: 0;
          padding-bottom: 0;
          padding-left: 0;
          margin-top: 0;
          margin-right: 0;
          margin-bottom: 0;
          margin-left: 0; }
          .masonry ul.isotope li.isotope-item .captions p:first-of-type {
            font-weight: bold;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 5px;
            margin-left: 0; }

/* #endregion */
/* #region header class */
.header {
  background: #4c4c4c;
  color: #fff;
  position: relative;
  width: 100%;
  height: 38px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
  .header.big {
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
    height: auto; }
    .header.big > div:first-child {
      width: 80px;
      height: auto;
      margin-top: 0;
      margin-right: 10px;
      margin-bottom: 0;
      margin-left: 0;
      float: left; }
      .header.big > div:first-child img {
        width: 80px;
        height: 80px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff; }
    .header.big > div:last-child {
      width: 100%;
      height: auto; }
      .header.big > div:last-child > h4 {
        padding-left: 90px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 5px;
        margin-left: 0;
        font-weight: bold; }
      .header.big > div:last-child > p {
        padding-left: 90px; }
        .header.big > div:last-child > p a {
          margin-top: 0;
          margin-right: 0;
          margin-bottom: 5px;
          margin-left: 0;
          cursor: pointer; }
          .header.big > div:last-child > p a:hover {
            color: #f2f2f2; }
  .header h5 {
    padding-top: 12px;
    padding-right: 15px;
    padding-bottom: 12px;
    padding-left: 15px;
    margin: 0;
    display: inline-block; }
  .header .btn-header {
    width: auto;
    height: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: inherit;
    top: 0;
    right: 0;
    cursor: pointer;
    color: inherit;
    text-align: center; }
    .header .btn-header:hover {
      box-shadow: inset 0 0 10px 0 #aaa;
      box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5); }
    .header .btn-header.left {
      border-right: 1px solid #cccccc;
      display: inline-block;
      margin-right: 5px; }
    .header .btn-header.right {
      border-left: 1px solid #cccccc; }

/* #endregion */
/* #region image center cropping */
.center-cropped {
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 70px;
  height: 70px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  .center-cropped img {
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    filter: alpha(opacity=0); }

/* #endregion */
/* #region bloggity base classes */
.blog-brand-icon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAV1BMVEUAAADHx8fOzs6pqamfn5+dnZ3BwcHExMTQ0NDf399xcXGNjY3w8PBMTExSvt1WwuFav91bv91cvttoxeBqxN5vxd9xcXF8yuHi8/jm9fnn5+fo9fn///+UDZIMAAAADXRSTlMANG16fn9/f3/z/v7+rTi8VQAAAJVJREFUeNrt2zkSgkAURVEcUVFBwQF0/+s0M6KK6qB/dXDuCk76gldVkqR/m11U29Us4HQJaw8AAAAAAAAAAAAAAABQJqB5hlXPAs7fsA4AAAAAAAAAAAAAAAAAAAAAAAAAAMUDxneGPgmA+zVDQwKgazPUAwAAAAAAAAAAACQAHrcMvSwjAAAAgCXAcQpr7dcmSQX1Axb4wNVzzdKdAAAAAElFTkSuQmCC');
  /*images/brand-logo.png*/
  background-size: cover;
  float: left;
  position: relative;
  top: -5px;
  margin-right: 5px;
  width: 30px;
  height: 30px; }

ui-view, *[ui-view] {
  position: relative; }

.page-content {
  padding-top: 0;
  padding-right: 15px;
  padding-bottom: 0;
  padding-left: 15px; }

.body-content {
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 51px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }
  @media (max-width: 767px) {
    .body-content {
      padding-bottom: 15px;
      margin-bottom: 0; } }

.wrap-text {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.fill-container {
  width: 100%;
  height: 100%; }

.row .sticky {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.sticky {
  margin-top: 0;
  margin-right: -15px;
  margin-bottom: 0;
  margin-left: -15px;
  z-index: 2000; }
  .sticky.top {
    position: fixed;
    top: 0; }
  .sticky.bottom {
    position: fixed;
    bottom: 0; }

/* #endregion */
/* #region field validation errors */
.field-error {
  border: 1px solid #d43d3a;
  color: #d9534f; }

.field-validation-error {
  color: #d9534f; }

.field-validation-valid {
  display: none; }

input.input-validation-error {
  border: 1px solid #d43d3a; }

input[type="checkbox"].input-validation-error {
  border: 0 none; }

.validation-summary-errors {
  color: #d9534f; }

.has-error {
  background: #d9534f !important;
  color: #fff !important; }

.input.has-error::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff; }

.input.has-error:hover::-webkit-input-placeholder, .input.has-error:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #4c4c4c; }

.input.has-error:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1; }

.input.has-error:hover:-moz-placeholder, .input.has-error:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #4c4c4c;
  opacity: 1;
  filter: alpha(opacity=100); }

.input.has-error::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1; }

.input.has-error:hover::-moz-placeholder, .input.has-error:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #4c4c4c;
  opacity: 1; }

.input.has-error:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff; }

.input.has-error:hover:-ms-input-placeholder, .input.has-error:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #4c4c4c; }

.validation-summary-valid {
  display: none; }

/* #endregion */
/*# sourceMappingURL=main.css.map */