// base styles
$fonts: 'Open Sans', sans-serif;
$fancy-font-3d: 'Canter-Bold-3d';
$fancy-font: 'Canter-Bold';

$main-background: #eee url('../../images/bg.jpg') no-repeat right top;
$accountpage-background: url(../images/login-main.jpg);
$accountpage-overlay: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlMA40+QfvoAAAATSURBVHheBcABDQAAAECwRxfdxAGEAIHfElzbAAAAAElFTkSuQmCC') /*../../images/login-pattern.png*/ repeat top left;

$default-header-height: 50;
$default-footer-height: 65;

$base-padding: 15;
$base-margin: 15;
$base-border-radius: 0;
$default-border-radius: 0;
$can-round-element: true;
$img-header-size: 80;

$default-padding: 15px;
$default-margin: 15px;

$min-input-width: 280px;
$max-input-width: 100%;

$hover-darken-value: 5%;
$border-darken-value: 5%;

$lg-screen-width: 1200px;
$md-screen-width: 992px;
$sm-screen-width: 768px;
$xs-screen-width: 320px;

$snap-drawer-width: 320;

// box shadow rules
$box-shadow-x: 0;
$box-shadow-x-inset: 0;
$box-shadow-y: 2px;
$box-shadow-y-inset: 0;
$box-shadow-blur: 4px;
$box-shadow-blur-inset: 10px;
$box-shadow-spread: 0;
$box-shadow-spread-inset: 0;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$box-shadow-color-inset: rgba(0, 0, 0, 0.5);
$box-shadow-color-default: #ccc;
$box-shadow-color-default-inset: #aaa;

// base colors
$base-grayscale-color: #999;
$primary-color: #56c2e1;
$main-color: #4c4c4c; // used in headers and navigation
$light-border-color: lighten($base-grayscale-color, 20%); // used as border colors
$dark-border-color: darken($base-grayscale-color, 20%); // used as border colors
$success-color: #5cb85c;
$danger-color: #d9534f;
$warning-color: #f0ad4e;
$info-color: #428bca;
$default-color: #fff;
$default-color-darken: darken($default-color, 10%);
$main-font-color: #fff;
$content-font-color: #4c4c4c;
$link-font-color: #fff;

// mixin size: width; height;
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

// mixin padding: top, right, bottom, left;
@mixin position($value, $top, $right: $top, $bottom: $top, $left: $top) {
    @if ($value != null) {
        position: $value;
    }

    @if ($top != null) {
        top: $top;
    }

    @if ($right != null) {
        right: $right;
    }

    @if ($bottom != null) {
        bottom: $bottom;
    }

    @if ($left != null) {
        left: $left;
    }
}

// mixin padding: top, right, bottom, left;
@mixin padding($top, $right: $top, $bottom: $top, $left: $top) {
    @if ($top != null) {
        padding-top: $top;
    }

    @if ($right != null) {
        padding-right: $right;
    }

    @if ($bottom != null) {
        padding-bottom: $bottom;
    }

    @if ($left != null) {
        padding-left: $left;
    }
}

// mixin margin: top, right, bottom, left;
@mixin margin($top, $right: $top, $bottom: $top, $left: $top) {
    @if ($top != null) {
        margin-top: $top;
    }

    @if ($right != null) {
        margin-right: $right;
    }

    @if ($bottom != null) {
        margin-bottom: $bottom;
    }

    @if ($left != null) {
        margin-left: $left;
    }
}

// mixin opacity: value;
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

// mixin box-shadow: inset
@mixin box-shadow($inset: false) {
    @if($inset != null and $inset == true) {
        box-shadow: inset $box-shadow-x-inset $box-shadow-y-inset $box-shadow-blur-inset $box-shadow-spread-inset $box-shadow-color-default-inset;
        box-shadow: inset $box-shadow-x-inset $box-shadow-y-inset $box-shadow-blur-inset $box-shadow-spread-inset $box-shadow-color-inset;
    }
    @else {
        box-shadow: $box-shadow-x $box-shadow-y $box-shadow-blur $box-shadow-spread $box-shadow-color-default;
        box-shadow: $box-shadow-x $box-shadow-y $box-shadow-blur $box-shadow-spread $box-shadow-color;
    }
}

// mixin clean ul
@mixin clean-list {
    list-style-type: none;
    padding: 0 !important;
    margin: 0 !important;
}

// mixin ellipsis text
@mixin ellipsis-text {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

// mixin mediaqueries: breakpoint value;
@mixin media($point) {
    @if $point == lg {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
    @else if $point == md {
        @media screen and (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }
    @else if $point == sm {
        @media screen and (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }
    @else if $point == xs {
        @media screen and (max-width: 767px) {
            @content;
        }
    }
}

// mixin center
@mixin center {
    margin: 0 auto;
    text-align: center;
}

// mixin background
@mixin background($args) {
    background: $args;
}

// mixin transition: args
@mixin transition($args) {
    -moz-transition: $args !important;
    -o-transition: $args !important;
    -webkit-transition: $args !important;
    transition: $args !important;
}

// mixin hidden file input
@mixin hidden-file-input {
    label {
        @include margin(null, 0);
        cursor: pointer;

        > input[type='file'] {
            position: fixed;
            top: -1000px;
        }
    }
}

// mixin borders: size, type, color, top, left, bottom, right;
@mixin borders ($size, $type, $color, $top, $right: $top, $bottom: $top, $left: $top) {
    @if ($size == null) {
        $size: 1px;
    }

    @if ($type == null) {
        $type: solid;
    }

    @if ($color == null) {
        $color: $light-border-color;
    }

    @if ($size == empty or $size == 0) {
        $border-value: 0;
    }

    $border-value: $size;
    $arr-params: ($type, $color);

    @each $param in $arr-params {
        @if ($param != empty) {
            $border-value: $border-value $param;
        }
    }

    @if ($top != null and $top) {
        border-top: $border-value;
    }

    @if ($right != null and $right) {
        border-right: $border-value;
    }

    @if ($bottom != null and $bottom) {
        border-bottom: $border-value;
    }

    @if ($left != null and $left) {
        border-left: $border-value;
    }
}

// mixin border-radius: type
@mixin border-radius ($radius-size, $important, $top-left: true, $top-right: $top-left, $bottom-right: $top-left, $bottom-left: $top-left) {
    $border-radius-value: $base-border-radius;

    @if ($radius-size == null or $radius-size == xs) {
        $border-radius-value: $default-border-radius;
    }
    @elseif ($radius-size == sm) {
        $border-radius-value: unquote(($base-border-radius * 2) + 'px');
    }
    @elseif ($radius-size == md) {
        $border-radius-value: unquote(($base-border-radius * 3) + 'px');
    }
    @elseif ($radius-size == lg) {
        $border-radius-value: unquote(($base-border-radius * 4) + 'px');
    }
    @elseif ($radius-size == round and $can-round-element == true) {
        $border-radius-value: 100%;
    }
    @else {
        $border-radius-value: $default-border-radius;
    }

    @if ($important != null and $important == false) {
        @if ($top-left != null and $top-left) {
            border-top-left-radius: $border-radius-value;
        }

        @if ($top-right != null and $top-right) {
            border-top-right-radius: $border-radius-value;
        }

        @if ($bottom-left != null and $bottom-left) {
            border-bottom-left-radius: $border-radius-value;
        }

        @if ($bottom-right != null and $bottom-right) {
            border-bottom-right-radius: $border-radius-value;
        }
    }
    @elseif ($important == null or $important == true) {
        @if ($top-left != null and $top-left) {
            border-top-left-radius: $border-radius-value !important;
        }

        @if ($top-right != null and $top-right) {
            border-top-right-radius: $border-radius-value !important;
        }

        @if ($bottom-left != null and $bottom-left) {
            border-bottom-left-radius: $border-radius-value !important;
        }

        @if ($bottom-right != null and $bottom-right) {
            border-bottom-right-radius: $border-radius-value !important;
        }
    }
}

// mixin clear fix floats
@mixin clear-fix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

// mixin header icon
@mixin header-edit-icon {
    .header {
        h4 {
            .edit {
                @include opacity(1);
                display: inline-block;
                cursor: pointer;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
                -o-transition: opacity .25s ease-in-out;
                transition: opacity .25s ease-in-out;

                &:hover {
                    @include opacity(0.5);
                }
            }
        }
    }
}