@import '../variables';

.navigation-menu {
    @include size(100%, 100%);
    @include borders(1px, solid, $dark-border-color, false, true, false, false);
    @include padding(unquote($default-header-height + 'px'), null, null, null);
    background: $main-color;
    color: $main-font-color;

    &:after {
        @include size(100%, auto);
        @include borders(1px, solid, $dark-border-color, false, true, false, false);
        background: $main-color;
        color: $main-font-color;
    }

    ul {
        @include clean-list;

        > li {
            > a {
                @include padding($default-padding);
                @include borders(1px, solid, darken($main-color, $border-darken-value), false, false, true);
                box-shadow: none;
                color: $main-font-color;
                outline: none;
                display: block;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 400;
                -webkit-transition: background 0.3s, box-shadow 0.3s;
                -moz-transition: background 0.3s, box-shadow 0.3s;
                -o-transition: background 0.3s, box-shadow 0.3s;
                transition: background 0.3s, box-shadow 0.3s;

                &:hover {
                    @include box-shadow(true);
                }

                > i {
                    $icon-position: unquote((($base-margin / 3) * 2) + 'px');
                    @include margin(null, $icon-position);
                    font-size: 1.5em;
                }

                form {
                    @include position(relative, null);

                    .fa-search {
                        $icon-position: unquote((($base-margin / 3) * 2) + 'px');
                        @include position(absolute, $icon-position, $icon-position, null, null);
                    }
                }
            }
        }
    }
}
