@{
    ViewBag.Title = "Bloggity Account";
}

<div class="container">
    <div class="main-wrapper">
        <div class="background"></div>
        <div class="overlay"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-3 col-md-4 col-md-push-4 col-lg-4 col-lg-push-4">
                <div id="wrapper">
                    <login-form></login-form>
                </div>
                <div error-display></div>
            </div>
        </div>
    </div>
</div>