#modify-post-main div.modify-post-contents {
    padding: 10px;
}

    #modify-post-main div.modify-post-contents div.dropzone {
        border: dotted 3px #666;
    }

        #modify-post-main div.modify-post-contents input[type=file] {
            margin-bottom: 5px;
        }

        #modify-post-main div.modify-post-contents div.dropzone ul.upload-items {
            list-style-type: none;
            padding: 0;
        }

            #modify-post-main div.modify-post-contents div.dropzone ul.upload-items > li {
                margin: 0 0 10px 0;
                border: 1px solid #999;
                background: #fff;
                padding: 10px;
            }

                #modify-post-main div.modify-post-contents div.dropzone ul.upload-items > li p {
                    margin: 0;
                }

                    #modify-post-main div.modify-post-contents div.dropzone ul.upload-items > li p.filename {
                        white-space: nowrap;
                        overflow: hidden;
                        -ms-text-overflow: ellipsis;
                        -o-text-overflow: ellipsis;
                        -moz-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        width: 280px;
                        font-weight: bold;
                    }

.ng-file-over {
    border: dotted 3px red;
}

@media (max-width: 767px) {
    ul.upload-items > li > div > div.progress {
        margin-bottom: 5px !important;
    }
}
