div.main-container,
div.main-pusher,
div.main-content {
    height: 100%;
}

div.main-container {
    position: relative;
    overflow: hidden;
}

    div.main-container div.main-pusher {
        position: relative;
        left: 0;
        z-index: 99;
        height: 100%;
        -webkit-transition: -webkit-transform 0.5s;
        -moz-transition: transform 0.5s;
        -o-transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        transition: transform 0.5s;
    }

        div.main-container div.main-pusher::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            background: #000000;
            background: rgba(0,0,0,0.2);
            content: '';
            -ms-opacity: 0;
            opacity: 0;
            -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
            -moz-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
            -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
            -ms-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
            transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
        }

        div.main-container div.main-pusher div.main-content {
            overflow-y: scroll;
        }

            div.main-container div.main-pusher div.main-content,
            div.main-container div.main-pusher div.main-content div.main-content-inner {
                position: relative;
            }

div.navigation-menu-open div.main-pusher::after {
    width: 100%;
    height: 100%;
    -ms-opacity: 1;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#posts-main {
    margin: 60px 0;
    width: 100%;
}

    #posts-main > div.post-item {
        margin: 5px;
        width: 340px;
        min-height: 400px;
        -moz-min-width: 350px;
        -ms-min-width: 350px;
        -o-min-width: 350px;
        -webkit-min-width: 350px;
        /*min-width: 350px;*/
        border: 1px solid #ddd;
        -webkit-box-shadow: 0 2px 4px #000000;
        -webkit-box-shadow: 0 2px 4px #000000;
        -ms-box-shadow: 0 2px 4px #000000;
        -ms-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        box-shadow: 0 2px 4px #000000;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        background: #fff;
        position: relative;
        text-decoration: none;
        vertical-align: top;
    }

        #posts-main > div.post-item.large {
            width: 448px;
        }

        #posts-main > div.post-item.xlarge {
            width: 368px;
        }

        #posts-main > div.post-item.medium {
            width: 338px;
        }

        #posts-main > div.post-item.small {
            width: 46%;
        }

        #posts-main > div.post-item.xsmall {
            width: 98%;
        }

        #posts-main > div.post-item > div.post-item-header {
            background: #666;
            color: #fff;
            padding: 10px 10px;
            -webkit-box-shadow: 0 6px 12px #000000;
            -webkit-box-shadow: 0 6px 12px #000000;
            -ms-box-shadow: 0 6px 12px #000000;
            -ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px #000000;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            border-bottom: 1px solid #000000;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }

            #posts-main > div.post-item > div.post-item-header h4 {
                margin: 0;
            }

        #posts-main > div.post-item > div.post-item-body {
            padding: 10px 10px;
            border-bottom: 1px solid #ddd;
        }

            #posts-main > div.post-item > div.post-item-body > .post-item-contents .post-item-content > img {
                width: 100%;
                height: 100%;
            }

        #posts-main > div.post-item > div.post-item-details {
            padding: 10px 10px;
            border-bottom: 1px solid #ddd;
        }

            #posts-main > div.post-item > div.post-item-details > div.post-likes {
                -ms-border-radius: 3px;
                border-radius: 3px;
                -webkit-box-shadow: 0 1px 0 #000000;
                -ms-box-shadow: 0 1px 0 #000000;
                -ms-box-shadow: 0 1px 0 rgba(0,0,0,.05);
                box-shadow: 0 1px 0 #000000;
                box-shadow: 0 1px 0 rgba(0,0,0,.05);
                -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
                -moz-transition: background-color .218s,border-color .218s,box-shadow .218s;
                -o-transition: background-color .218s,border-color .218s,box-shadow .218s;
                -ms-transition: background-color .218s,border-color .218s,box-shadow .218s;
                transition: background-color .218s,border-color .218s,box-shadow .218s;
                border: 1px solid #d9d9d9;
                cursor: pointer;
                height: 28px;
                line-height: 28px;
                width: 20%;
                display: inline-block;
                margin-right: 10px;
            }

                #posts-main > div.post-item > div.post-item-details > div.post-likes > div.wrapper {
                    padding: 0 10px;
                }

                    #posts-main > div.post-item > div.post-item-details > div.post-likes > div.wrapper > span {
                        padding: 3px;
                    }

                #posts-main > div.post-item > div.post-item-details > div.post-likes:hover {
                    -webkit-box-shadow: 0 1px 0 #000000;
                    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
                    -ms-box-shadow: 0 1px 0 #000000;
                    -ms-box-shadow: 0 1px 0 rgba(0,0,0,.1);
                    box-shadow: 0 1px 0 #000000;
                    box-shadow: 0 1px 0 rgba(0,0,0,.1);
                    border-color: #bfbfbf;
                }

            #posts-main > div.post-item > div.post-item-details > div.post-tags {
                display: inline-block;
                width: 75%;
            }

                #posts-main > div.post-item > div.post-item-details > div.post-tags > button {
                    height: 28px;
                    line-height: 10px;
                    position: relative;
                    top: -2px;
                    width: 160px;
                }

        #posts-main > div.post-item > div.post-item-comments ul {
            height: 55px !important;
            width: 100%;
            overflow: hidden;
            margin: 0;
            list-style-type: none;
            padding: 10px;
        }

            #posts-main > div.post-item > div.post-item-comments ul > li p {
                margin: 0;
            }

                #posts-main > div.post-item > div.post-item-comments ul > li p > a {
                    cursor: pointer;
                }

                #posts-main > div.post-item > div.post-item-comments ul > li p:last-child {
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    -moz-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: auto;
                    cursor: pointer;
                }

                    #posts-main > div.post-item > div.post-item-comments ul > li p:last-child:hover {
                        color: #888;
                    }

@media (max-width: 360px) {
    #posts-main > div.post-item {
        width: 100%;
        margin: 0 0 10px 0;
    }
}
