#modify-post-main {
    min-height: 600px;
    background: #fff;
    font-size: 1em;
    margin-bottom: 20px;
}

    #modify-post-main > div {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

        #modify-post-main > div > h5 {
            margin: 0 0 10px 0;
        }

        #modify-post-main > div.modify-post-title > span {
            width: 5%;
            margin-right: 10px;
        }

        #modify-post-main > div.modify-post-title > input {
            width: 100%;
            max-width: 100%;
        }

        #modify-post-main > div.modify-post-message {
            padding: 10px 20px 10px 10px;
        }

            #modify-post-main > div.modify-post-message textarea {
                min-height: 150px;
                resize: none;
                width: 100%;
                max-width: 100%;
            }

            #modify-post-main > div.modify-post-message .cke_contents {
                min-height: 200px !important;
            }
            
@media (max-width: 767px) {
    #modify-post-main > div.modify-post-message {
        padding: 10px;
    }
}
