<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ImageServer" value="192.168.254.109:4433" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BlogApi" value="https://192.168.254.109:4433/blogapi/api/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BlogRoot" value="https://192.168.254.109:4433/blog/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SessionCookieName" value="homeapi" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="BlogDb"
        connectionString="Data Source=AVEL-PC\AVEL;Initial Catalog=blog_db;Persist Security Info=True;User ID=jama;Password=Testtesttest01;"
        providerName="System.Data.SqlClient"
        xdt:Transform="Replace"
        xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>