<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ImageServer" value="localhost:4414" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BlogApi" value="https://localhost:4414/api/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BlogRoot" value="https://localhost:4413/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SessionCookieName" value="remoteapi" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="BlogIdentityDb"
        connectionString="Data Source=MAN-DJJ53GY1\SQLEXPRESS;Initial Catalog=blog_identity;Persist Security Info=True;User ID=jason;Password=testtest1;"
        providerName="System.Data.SqlClient"
        xdt:Transform="Replace"
        xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:3317/AddressService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                contract="Blog.Services.Implementation.Interfaces.IAddressService"
                name="AddressService"
                xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://localhost:3317/AlbumService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                contract="Blog.Services.Implementation.Interfaces.IAlbumService"
                name="AlbumService"
                xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://localhost:3317/CommentLikesService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                contract="Blog.Services.Implementation.Interfaces.ICommentLikesService"
                name="CommentLikesService"
                xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://localhost:3317/CommentsService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                contract="Blog.Services.Implementation.Interfaces.ICommentsService"
                name="CommentsService"
                xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://localhost:3317/EducationService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                contract="Blog.Services.Implementation.Interfaces.IEducationService"
                name="EducationService"
                xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://localhost:3317/HobbyService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                contract="Blog.Services.Implementation.Interfaces.IHobbyService"
                name="HobbyService"
                xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://localhost:3317/MediaService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                contract="Blog.Services.Implementation.Interfaces.IMediaService"
                name="MediaService"
                xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://localhost:3317/PostContentsService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                contract="Blog.Services.Implementation.Interfaces.IPostContentsService"
                name="PostContentsService"
                xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://localhost:3317/PostLikesService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                contract="Blog.Services.Implementation.Interfaces.IPostLikesService"
                name="PostLikesService"
                xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://localhost:3317/PostsService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                contract="Blog.Services.Implementation.Interfaces.IPostsService"
                name="PostsService"
                xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://localhost:3317/TagsService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                contract="Blog.Services.Implementation.Interfaces.ITagsService"
                name="TagsService"
                xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://localhost:3317/UsersService.svc"
                binding="basicHttpBinding" bindingConfiguration="defaultBinding"
                contract="Blog.Services.Implementation.Interfaces.IUsersService"
                name="UsersService"
                xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>