@{
    ViewBag.Title = "Bloggity Home";
}

<header-menu></header-menu>

<snap-drawers>
    <div snap-drawer>
        <navigation-menu></navigation-menu>
    </div>
    <div snap-drawer="right">
        <h4>Right Drawer</h4>
    </div>
</snap-drawers>

<snap-content class="body-content" scroll-trigger scroll-trigger-watch="posts-main">
    @*<div class="container">*@
        <div class="page-content" ng-view></div>
    @*</div>*@
</snap-content>

<div error-display></div>
<div login-form-modal></div>

<snap-dragger>
</snap-dragger>