@{
    ViewBag.Title = "Bloggity Home";
}

<header-menu></header-menu>

<snap-drawers>
    <div snap-drawer>
        <navigation-menu></navigation-menu>
    </div>
    @*<div snap-drawer="right">
            <h4>Right Drawer</h4>
        </div>*@
</snap-drawers>

<snap-content class="body-content" scroll-trigger>
    <div class="page-content" ui-view></div>
</snap-content>

<div error-display></div>
<div login-form-modal></div>

<snap-dragger>
</snap-dragger>

<socket-debugger></socket-debugger>