.user-profile-details {
    overflow: visible !important;
}

    .user-profile-details .fa {
        cursor: pointer;
    }

        .user-profile-details .fa:hover {
            opacity: 0.5;
        }

    .user-profile-details .content-item {
        background: #f8f8f8;
        margin-bottom: 15px;
    }

        .user-profile-details .content-item .user-hobby-item {
            position: relative;
        }

            .user-profile-details .content-item .user-hobby-item .fa {
                position: absolute;
                top: 8px;
                right: 30px;
            }

        .user-profile-details .content-item .error-message {
            color: #d9534f;
            font-size: 1em;
            margin: 10px 0 0;
        }

    .user-profile-details .header {
        background: #4c4c4c;
        color: #f8f8f8;
        position: relative;
    }

        .user-profile-details .header > h4 {
            padding: 10px;
            margin: 0;
        }

        .user-profile-details .header > .btn-header {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
        }

            .user-profile-details .header > .btn-header > i {
                margin-right: 5px;
            }

    .user-profile-details .body {
        padding: 10px;
    }

        .user-profile-details .body .panel {
            margin-bottom: 10px;
            background: #f0f0f0;
            border-color: #ccc;
        }

            .user-profile-details .body .panel .panel-heading {
                background-color: transparent;
                border-color: transparent;
                color: #4c4c4c;
            }

    .user-profile-details .user-form {
        padding: 0 10px 10px;
    }

        .user-profile-details .user-form .form-group {
            position: relative;
        }

            .user-profile-details .user-form .form-group label {
                margin: 5px 0;
            }

                .user-profile-details .user-form .form-group label[data-display],
                .user-profile-details .user-form .form-group input[type='text'] {
                    font-weight: normal;
                    max-width: 100%;
                    width: 100%;
                }

        .user-profile-details .user-form[name='user-hobbies-form'] .form-group {
            margin-bottom: 5px;
        }

            .user-profile-details .user-form[name='user-hobbies-form'] .form-group label {
                font-weight: normal;
            }

            .user-profile-details .user-form[name='user-hobbies-form'] .form-group input[type='text'] {
                margin-bottom: 10px;
            }


    .user-profile-details .body .user-education-item {
        background: #f8f8f8;
        border: 1px solid #ccc;
        padding-top: 10px;
        margin-bottom: 10px;
    }

        .user-profile-details .body .user-education-item label[data-display] {
            font-weight: normal;
            width: auto;
        }

        .user-profile-details .body .user-education-item .fa,
        .user-profile-details .body .user-education-item .fa {
            color: #666;
            font-size: 1.2em;
            margin-top: 7px;
            margin-right: 3px;
            cursor: pointer;
        }

        .user-profile-details .body .user-education-item input[type='text'] {
            margin-bottom: 10px;
        }

@media(max-width: 767px) {
    .user-profile-details .content-item {
        margin: 0 0 15px 0;
    }

    .user-profile-details .user-form .form-group label[data-display],
    .user-profile-details .user-form .form-group input[type='text'] {
        position: static;
        display: block;
    }
}
