/* line 12, ../../scss/user/userimage.scss */
.user-image {
  width: auto;
  height: 100%;
  position: relative; }
  /* line 16, ../../scss/user/userimage.scss */
  .user-image .user-background-image {
    min-width: 100%;
    min-height: 350px; }
    @media (max-width: 767px) {
      /* line 16, ../../scss/user/userimage.scss */
      .user-image .user-background-image {
        width: auto;
        height: 100%;
        position: absolute;
        min-height: 0; } }
    /* line 4, ../../scss/user/userimage.scss */
    .user-image .user-background-image:hover .edit {
      display: inline-block;
      visibility: visible;
      cursor: pointer;
      z-index: 1000; }
    /* line 30, ../../scss/user/userimage.scss */
    .user-image .user-background-image .edit {
      position: absolute;
      right: 15px;
      bottom: 15px;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0; }
      @media (max-width: 767px) {
        /* line 30, ../../scss/user/userimage.scss */
        .user-image .user-background-image .edit {
          display: inline-block;
          visibility: visible;
          cursor: pointer;
          z-index: 1000; } }
    /* line 42, ../../scss/user/userimage.scss */
    .user-image .user-background-image > img {
      width: 100%;
      height: 100%;
      background-size: cover;
      max-height: 350px; }
  /* line 4, ../../scss/user/userimage.scss */
  .user-image .user-profile-image:hover .edit {
    display: inline-block;
    visibility: visible;
    cursor: pointer;
    z-index: 1000; }
  /* line 54, ../../scss/user/userimage.scss */
  .user-image .user-profile-image .edit {
    position: absolute;
    top: 40%;
    right: 40%; }
  /* line 59, ../../scss/user/userimage.scss */
  .user-image .edit {
    position: absolute;
    color: #4c4c4c;
    visibility: hidden;
    display: none;
    font-size: 2em;
    text-shadow: -1px -1px 0 #666666, 1px -1px 0 #666666, -1px 1px 0 #666666, 1px 1px 0 #666666; }
    /* line 67, ../../scss/user/userimage.scss */
    .user-image .edit input[type='file'] {
      position: fixed;
      top: -1000px; }
  /* line 73, ../../scss/user/userimage.scss */
  .user-image .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    background: #4c4c4c;
    text-align: center; }
    @media (max-width: 767px) {
      /* line 73, ../../scss/user/userimage.scss */
      .user-image .details {
        width: 100%;
        height: auto;
        position: relative;
        background-color: #777;
        background-color: rgba(0, 0, 0, 0.5); } }
    /* line 88, ../../scss/user/userimage.scss */
    .user-image .details > .user-profile-image {
      position: relative;
      width: 120px;
      height: auto;
      margin: 0 auto;
      text-align: center; }
      /* line 93, ../../scss/user/userimage.scss */
      .user-image .details > .user-profile-image > img {
        width: 120px;
        height: 120px;
        border-top: 3px solid white;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        border-left: 3px solid white;
        border-radius: 60px;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover; }
    /* line 104, ../../scss/user/userimage.scss */
    .user-image .details h4 {
      color: #4c4c4c; }
    /* line 109, ../../scss/user/userimage.scss */
    .user-image .details p a {
      color: white;
      font-size: 1em;
      cursor: pointer; }
