.user-post-item {
}

    .user-post-item > .header > div:first-child {
        width: 100%;
    }

    .user-post-item > .header > div {
        width: 100%;
    }

        .user-post-item > .header > div > h4 {
            padding: 0;
        }

        .user-post-item > .header > div > p {
            padding: 0;
            margin: 0;
        }
