@model Blog.Frontend.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<section id="loginForm">
    <h2>Use a local account to log in.</h2>
    @Html.Partial("_LoginWidget")
</section>

<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

<script>window.Blog.Util.resizeBody(); window.widthsBlog.Events.initLogin();</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
