<div class="user-profile-details" data-user-id="{{user.Id}}">
    <div class="content-item information">
        <form name="user-details-form" ng-submit="submitForm(userForm.$valid)" novalidate>
            <div class="form-group">
                <p class="error-message"></p>
                <label>First Name</label>
                <label data-display ng-show="!isEditing">{{user.FirstName}}</label>
                <input name="firstname" type="text" class="input" ng-show="isEditing" class="form-control"
                       ng-class="hasError('firstname')" placeholder="First Name" ng-model="user.FirstName" ng-enter="register()" />
            </div>
            <div class="form-group">
                <p class="error-message"></p>
                <label>Last Name</label>
                <label data-display ng-show="!isEditing">{{user.LastName}}</label>
                <input name="lastname" type="text" class="input" ng-show="isEditing" class="form-control"
                       ng-class="hasError('lastname')" placeholder="Last Name" ng-model="user.LastName" ng-enter="register()" />
            </div>
            <div class="form-group">
                <p class="error-message"></p>
                <label>Email</label>
                <label data-display ng-show="!isEditing">{{user.EmailAddress}}</label>
                <input name="email" type="text" class="input" ng-show="isEditing" class="form-control" required
                       ng-class="hasError('email')" placeholder="Email" ng-model="user.EmailAddress" ng-enter="register()" />
            </div>
            <div class="form-group">
                <p class="error-message"></p>
                <label>Birth Date</label>
                <label data-display ng-show="!isEditing">{{user.BirthDate}}</label>
                <input name="birthdate" type="text" class="input" ng-show="isEditing" class="form-control"
                       ng-class="hasError('birthdate')" placeholder="Birthdate" ng-model="user.BirthDate" ng-enter="register()"
                       bs-datepicker data-placement="top" data-iconleft="fa fa-calendar" data-autoclose="true" />
            </div>
        </form>
    </div>
</div>