<div class="content-item hobbies">
    <div class="header">
        <h5>Hobbies</h5>
        <div class="btn-header right pull-right" ng-show="!isAdding" ng-click="addHobby()" ng-class="showButtons()">
            <i class="fa fa-plus"></i>
            <span class="hidden-xs">Add</span>
        </div>
    </div>

    <form class="user-form" name="user-hobbies-form" ng-submit="submitForm(userHobbiesForm.$valid)" novalidate>
        <div empty-record-message message="emptyRecordMessage" ng-show="showNoRecordsMessage()"></div>
        <div ng-repeat="hobby in hobbies track by $index" user-profile-details-hobby-item hobby="hobby" user="user"></div>

        <div class="row" ng-show="isAdding">
            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="error-message">{{error.HobbyName}}</p>
            </div>
        </div>
        <div class="row animate fade-up" ng-show="isAdding">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 user-hobby-item">
                <input name="new-hobby" type="text" class="input form-control"
                       ng-class="hasError()" placeholder="Enter hobby" ng-model="newHobby.HobbyName" />
                <div class="buttons">
                    <i class="fa fa-save" ng-show="isAdding" ng-click="saveHobby()"></i>
                    <i class="fa fa-times" ng-show="isAdding" ng-click="cancelAdding()"></i>
                </div>
            </div>
        </div>
    </form>
</div>