<div class="user-profile-navigation">
    <nav>
        <ul>
            <li>
                <!--<a href="{{aboutUrl}}">About</a>-->
                <a ui-sref=".details">About</a>
            </li>
            <li>
                <!--<a href="{{postsUrl}}">Posts</a>-->
                <a ui-sref=".posts">Posts</a>
            </li>
            <li>
                <!--<a href="{{commentsUrl}}">Comments</a>-->
                <a ui-sref=".comments">Comments</a>
            </li>
            <li>
                <!--<a href="{{mediaUrl}}">Media</a>-->
                <a ui-sref=".media">Media</a>
            </li>
            <li>
                <!--<a href="{{favoritesUrl}}">Favorites</a>-->
                <a ui-sref=".favorites">Favorites</a>
            </li>
        </ul>
    </nav>
</div>