<div id="user-info-popup" class="popover">
    <div class="arrow"></div>
    <h3 class="popover-title" ng-show="title">{{fullName()}}</h3>
    <div class="popover-content">
        <div>
            <p>
                <span>{{birthdate()}}</span>
            </p>
            <div class="buttons">
                <div class="btn btn-primary" data-trigger="hover" data-type="info" data-title="Send a message" bs-tooltip ng-click="goToChat()">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="btn btn-success" data-trigger="hover" data-type="info" data-title="View profile" bs-tooltip ng-click="viewProfile()">
                    <i class="fa fa-user"></i>
                </div>
                <div class="btn btn-danger" data-trigger="hover" data-type="info" data-title="Close" bs-tooltip ng-click="hide()">
                    <i class="fa fa-times"></i>
                </div>
            </div>
        </div>
    </div>
</div>