<div id="user-profile-details" class="user-profile-details" data-user-id="{{user.Id}}">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div user-profile-details-info user="user"></div>

            <div user-profile-details-address address="address" user="user"></div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div user-profile-details-hobbies hobbies="hobbies" user="user"></div>

            <div user-profile-details-education education-groups="education" user="user"></div>
        </div>
    </div>
</div>