<div class="content-item address">
    <div class="header">
        <h5>Address</h5>
        <div class="btn-header right pull-right" ng-show="isEditing" ng-click="cancelEditAddress()">
            <i class="fa fa-times"></i>
            <span class="hidden-xs">Cancel</span>
        </div>
        <div class="btn-header right pull-right" ng-show="isEditing" ng-click="saveAddress()">
            <i class="fa fa-save"></i>
            <span class="hidden-xs">Save</span>
        </div>
        <div class="btn-header right pull-right" ng-show="!isEditing" ng-class="showButtons()" ng-click="editAddress()">
            <i class="fa fa-edit"></i>
            <span class="hidden-xs">Edit</span>
        </div>
    </div>
    <form class="user-form" name="user-address-form" ng-submit="submitForm(userAddressForm.$valid)" novalidate>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="error-message">{{error.Street}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <label>Street</label>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                    <label data-display ng-show="!isEditing">{{address.StreetAddress}}</label>
                    <input name="address-street" type="text" class="input form-control" ng-show="isEditing"
                           ng-class="hasError('Street')" placeholder="Street" ng-model="address.StreetAddress" ng-enter="register()" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="error-message">{{error.State}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <label>State</label>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                    <label data-display ng-show="!isEditing">{{address.State}}</label>
                    <input name="address-state" type="text" class="input form-control" ng-show="isEditing"
                           ng-class="hasError('State')" placeholder="State" ng-model="address.State" ng-enter="register()" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="error-message">{{error.City}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <label>City</label>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                    <label data-display ng-show="!isEditing">{{address.City}}</label>
                    <input name="address-city" type="text" class="input form-control" ng-show="isEditing" required
                           ng-class="hasError('City')" placeholder="City" ng-model="address.City" ng-enter="register()" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="error-message">{{error.Country}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <label>Country</label>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                    <label data-display ng-show="!isEditing">{{address.Country}}</label>
                    <input name="address-country" type="text" class="input form-control" ng-show="isEditing"
                           ng-class="hasError('Country')" placeholder="Country" ng-model="address.Country" ng-enter="register()" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="error-message">{{error.Zip}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <label>Zip Code</label>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                    <label data-display ng-show="!isEditing">{{address.Zip}}</label>
                    <input name="address-zipcode" type="text" class="input form-control" ng-show="isEditing"
                           ng-class="hasError('Zip')" placeholder="Zip Code" ng-model="address.Zip" ng-enter="register()" />
                </div>
            </div>
        </div>
    </form>
</div>