<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MasterDb" value="Data Source=AVEL-PC\AVEL;Initial Catalog=master;Persist Security Info=True;User ID=jama;Password=Testtesttest01;" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BlogDbName" value="blog" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BlogServer" value="192.168.254.109:4434" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="BlogDb"
        connectionString="Data Source=AVEL-PC\AVEL;Initial Catalog=blog;Persist Security Info=True;User ID=jama;Password=Testtesttest01;"
        providerName="System.Data.SqlClient"
        xdt:Transform="Replace"
        xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>