@import '../variables';

.post-item-comment {
    @include border-radius(null, false);
    color: $content-font-color;

    p {
        @include margin(0);

        &:last-child {
            @include ellipsis-text;
            width: auto;
            cursor: pointer;

            &:hover {
                color: darken($content-font-color, $hover-darken-value);
            }
        }

        > a {
            cursor: pointer;
            color: $primary-color;
        }
    }
}
