.comment-item {
    position: relative;
    background: #f8f8f8;
    margin: 5px;
    -webkit-box-shadow: 0 2px 4px #000000;
    -webkit-box-shadow: 0 2px 4px #000000;
    -ms-box-shadow: 0 2px 4px #000000;
    -ms-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px #000000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

    .comment-item > p {
        margin: 0;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px;
    }

    .comment-item > div.comment-header {
        background: #56c2e1;
        color: #fff;
        margin: 0;
        height: 25px;
    }

        .comment-item > div.comment-header > a {
            color: #fff;
        }

        .comment-item > div.comment-header > span {
            font-size: .7em;
        }

        .comment-item > div.comment-header > div.comment-expand {
            width: 25px;
            height: 25px;
        }

            .comment-item > div.comment-header > div.comment-expand > div.fa {
                font-size: .8em;
                cursor: pointer;
            }

        .comment-item > div.comment-header > div.comment-likes-count {
            width: 50px;
            height: 25px;
        }

            .comment-item > div.comment-header > div.comment-likes-count > i {
                padding-right: 3px;
            }

        .comment-item > div.comment-header > div.comment-reply {
            width: 51px;
            height: 25px;
        }

.comment-item-new {
    position: relative;
    background: #f8f8f8;
    margin: 10px 10px 0 10px;
    height: 90px;
    -webkit-box-shadow: 0 2px 4px #000000;
    -webkit-box-shadow: 0 2px 4px #000000;
    -ms-box-shadow: 0 2px 4px #000000;
    -ms-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px #000000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

    .comment-item-new > textarea {
        resize: none;
        max-width: 80%;
        width: 80%;
        height: 100%;
    }

    .comment-item-new > div {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        width: 20%;
    }

        .comment-item-new > div > button {
            width: 100%;
            margin-bottom: 5px;
        }

@media (max-width: 320px) {
    .comment-item-new > div > button.fa {
        padding: 7px;
    }
}
