.comment-button {
    display: inline-block;
}

    .comment-button:hover {
        background: #3f9db8;
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
        cursor: pointer;
    }

    .comment-button.left {
        padding-left: 6px;
        padding-top: 4px;
        border-right: 1px solid #ddd;
        margin-right: 5px;
    }

    .comment-button.right {
        display: inline-block;
        padding: 3px 6px;
        border-left: 1px solid #ddd;
        float: right;
    }