.comment-item-new {
    position: relative;
    background: #f8f8f8;
    margin: 15px 15px 0 15px;
    height: 90px;
    -webkit-box-shadow: 0 2px 4px #000000;
    -webkit-box-shadow: 0 2px 4px #000000;
    -ms-box-shadow: 0 2px 4px #000000;
    -ms-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px #000000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

    .comment-item-new > textarea {
        resize: none;
        max-width: 80%;
        width: 80%;
        height: 100%;
        border: 1px solid #aaa;
    }

    .comment-item-new > div {
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px;
        width: 20%;
        height: 100%;
        border-top: 1px solid #aaa;
        border-right: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
    }

        .comment-item-new > div > button {
            width: 100%;
            margin-bottom: 5px;
        }

@media (max-width: 320px) {
    .comment-item-new > div > button.fa {
        padding: 7px;
    }
}
