/* line 3, ../../scss/tags/tagitem.scss */
.tag-item {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-top: 1px solid #40badd;
  border-right: 1px solid #40badd;
  border-bottom: 1px solid #40badd;
  border-left: 1px solid #40badd;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: white;
  background: #56c2e1;
  display: inline-block;
  cursor: pointer;
  -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  /* line 16, ../../scss/tags/tagitem.scss */
  .tag-item:hover {
    box-shadow: inset 0 0 10px 0 #aaaaaa;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background: #40badd;
    border-color: #2bb2d9; }
  /* line 22, ../../scss/tags/tagitem.scss */
  .tag-item > i {
    margin-right: 5px; }
