body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-size: 14px;
    color: #333;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: #4c4c4c;
    color: #fff;
    font-size: 1.5em;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}