<div class="comment-item card animate fade-up" data-comment-id="{{comment.Id}}">
    <div class="comment-header header">
        <div class="comment-expand btn-header left" ng-click="toggleReplies()">
            <i class="fa" ng-show="canExpandComment()" ng-class="isExpanded()"></i>
        </div>
        <div class="comment-details">
            <i class="fa fa-user" ng-class="isFromPostOwner()"></i>
            <a href="{{comment.Url}}">{{comment.NameDisplay}}</a>
            <span class="hidden-xs">{{comment.DateDisplay}}</span>
        </div>
        <div class="comment-likes-count btn-header right" data-comment-id="{{comment.Id}}" ng-click="likeComment()">
            <i class="fa" ng-class="isUserLiked()"></i>
            <span>{{comment.CommentLikes == null ? 0 : comment.CommentLikes.length}}</span>
        </div>
        <div class="comment-reply btn-header right" ng-class="canReplyToComment()" ng-click="showAddReply()">
            <span>Reply</span>
        </div>
    </div>
    <p>{{comment.CommentMessage}}</p>
</div>