<div class="comment-item-new">
    <textarea maxlength="140" placeholder="Enter your comment here..." ng-model="comment.CommentMessage"></textarea>
    <div>
        <button class="btn btn-primary hidden-xs" ng-click="saveComment()">Submit</button>
        <button class="btn btn-primary fa fa-paper-plane visible-xs" ng-click="saveComment()"></button>
        <button class="btn btn-danger hidden-xs" ng-click="hideAddComment()">Cancel</button>
        <button class="btn btn-danger fa fa-times-circle visible-xs" ng-click="hideAddComment()"></button>
    </div>
</div>