<div class="comment-item-new">
    <textarea maxlength="140" placeholder="Enter your comment here...">{{commentMessage}}</textarea>
    <div>
        <button class="btn btn-primary hidden-xs">Submit</button>
        <button class="btn btn-primary fa fa-paper-plane visible-xs"></button>
        <button class="btn btn-danger hidden-xs" ng-click="hideAddComment()">Cancel</button>
        <button class="btn btn-danger fa fa-times-circle visible-xs" ng-click="hideAddComment()"></button>
    </div>
</div>/