<div class="comment-items-list">
    <div class="comments-empty-message alert" ng-class="emptyMessageStyle()" ng-show="showEmptyCommentsMessage()">
        <p>
            {{getEmptyCommentsMessage()}}
            <div ng-show="hasError">
                <a ng-click="getComments()">Click here</a> to reload
            </div>
        </p>
    </div>
    <div ng-repeat="comment in comments">
        <div comment-item comment="comment" user="user" poster="poster"></div>
        <div ng-show="comment.ShowAddReply" class="comment-reply-new" comments-add-new commentid="comment.Id" postid="null" user="user" parentpostid="postid"></div>
        <div ng-repeat="reply in comment.Comments" class="comment-replies" ng-show="comment.ShowReplies">
            <div comment-item comment="reply" user="user" poster="poster"></div>
        </div>
    </div>
</div>
