/* #region base element styles */
/* line 5, ../scss/main.scss */
html, body {
  font-family: "Open Sans", sans-serif;
  width: auto;
  height: 100%;
}

/* line 10, ../scss/main.scss */
input, select, textarea {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  max-width: 100%;
}

/* line 15, ../scss/main.scss */
textarea {
  resize: none;
}

/* line 19, ../scss/main.scss */
a {
  color: #fff;
}
/* line 22, ../scss/main.scss */
a:hover {
  color: #fff;
  text-decoration: underline;
}

/* line 28, ../scss/main.scss */
::selection {
  color: #fff;
  background: #56c2e1;
}

/* line 33, ../scss/main.scss */
::-moz-selection {
  color: #fff;
  background: #56c2e1;
}

/* #endregion */
/* #region card class */
/* line 42, ../scss/main.scss */
.card, .success, .warning, .danger, .info, .default, .masonry {
  box-shadow: 0 2px 4px 0 #ccc;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  vertical-align: top;
  font-size: 1em;
  color: #333333;
  margin-bottom: 15px;
}
/* line 50, ../scss/main.scss */
.card .content, .success .content, .warning .content, .danger .content, .info .content, .default .content, .masonry .content {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-bottom: 1px solid #cccccc;
}
/* line 54, ../scss/main.scss */
.card .content:last-child, .success .content:last-child, .warning .content:last-child, .danger .content:last-child, .info .content:last-child, .default .content:last-child, .masonry .content:last-child {
  border-bottom: 0;
}
/* line 59, ../scss/main.scss */
.card .captions, .success .captions, .warning .captions, .danger .captions, .info .captions, .default .captions, .masonry .captions {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
/* line 62, ../scss/main.scss */
.card .captions p, .success .captions p, .warning .captions p, .danger .captions p, .info .captions p, .default .captions p, .masonry .captions p {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
/* line 66, ../scss/main.scss */
.card .captions p:first-of-type, .success .captions p:first-of-type, .warning .captions p:first-of-type, .danger .captions p:first-of-type, .info .captions p:first-of-type, .default .captions p:first-of-type, .masonry .captions p:first-of-type {
  font-weight: bold;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
}

/* line 75, ../scss/main.scss */
.success {
  color: #fff;
  background: #5cb85c;
}
/* line 80, ../scss/main.scss */
.success .content {
  border-bottom: 1px solid #4cae4c;
}

/* line 85, ../scss/main.scss */
.warning {
  color: #fff;
  background: #e8d370;
}
/* line 90, ../scss/main.scss */
.warning .content {
  border-bottom: 1px solid #e4cc5a;
}

/* line 95, ../scss/main.scss */
.danger {
  color: #fff;
  background: #d9534f;
}
/* line 100, ../scss/main.scss */
.danger .content {
  border-bottom: 1px solid #d43f3a;
}

/* line 105, ../scss/main.scss */
.info {
  color: #fff;
  background: #428bca;
}
/* line 110, ../scss/main.scss */
.info .content {
  border-bottom: 1px solid #357ebd;
}

/* line 115, ../scss/main.scss */
.default {
  background: #fff;
}
/* line 119, ../scss/main.scss */
.default.darken {
  background: #e6e6e6;
}

/* line 124, ../scss/main.scss */
.masonry {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background: #e6e6e6;
}

/* #endregion */
/* #region header class */
/* line 134, ../scss/main.scss */
.header {
  background: #4c4c4c;
  color: #fff;
  position: relative;
  width: 100%;
  height: 38px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 141, ../scss/main.scss */
.header.big {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}
/* line 151, ../scss/main.scss */
.header.big > div:first-child {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  float: left;
}
/* line 155, ../scss/main.scss */
.header.big > div:first-child img {
  width: 80px;
  height: 80px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
}
/* line 162, ../scss/main.scss */
.header.big > div:last-child {
  width: 100%;
  height: auto;
}
/* line 165, ../scss/main.scss */
.header.big > div:last-child > h4 {
  padding-left: 90px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-weight: bold;
}
/* line 171, ../scss/main.scss */
.header.big > div:last-child > p {
  padding-left: 90px;
}
/* line 174, ../scss/main.scss */
.header.big > div:last-child > p a {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  cursor: pointer;
}
/* line 178, ../scss/main.scss */
.header.big > div:last-child > p a:hover {
  color: #f2f2f2;
}
/* line 186, ../scss/main.scss */
.header h5 {
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 15px;
  margin: 0;
  display: inline-block;
}
/* line 192, ../scss/main.scss */
.header .btn-header {
  width: auto;
  height: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: inherit;
  top: 0;
  right: 0;
  cursor: pointer;
  color: inherit;
  text-align: center;
}
/* line 203, ../scss/main.scss */
.header .btn-header:hover {
  box-shadow: inset 0 0 10px 0 #aaa;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
/* line 207, ../scss/main.scss */
.header .btn-header.left {
  border-right: 1px solid #cccccc;
  display: inline-block;
  margin-right: 5px;
}
/* line 213, ../scss/main.scss */
.header .btn-header.right {
  border-left: 1px solid #cccccc;
}

/* #endregion */
/* #region image center cropping */
/* line 223, ../scss/main.scss */
.center-cropped {
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 70px;
  height: 70px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 231, ../scss/main.scss */
.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* #endregion */
/* #region bloggity base classes */
/* line 242, ../scss/main.scss */
.blog-brand-icon {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAMAAAD04JH5AAAAV1BMVEUAAADHx8fOzs6pqamfn5+dnZ3BwcHExMTQ0NDf399xcXGNjY3w8PBMTExSvt1WwuFav91bv91cvttoxeBqxN5vxd9xcXF8yuHi8/jm9fnn5+fo9fn///+UDZIMAAAADXRSTlMANG16fn9/f3/z/v7+rTi8VQAAAJVJREFUeNrt2zkSgkAURVEcUVFBwQF0/+s0M6KK6qB/dXDuCk76gldVkqR/m11U29Us4HQJaw8AAAAAAAAAAAAAAABQJqB5hlXPAs7fsA4AAAAAAAAAAAAAAAAAAAAAAAAAAMUDxneGPgmA+zVDQwKgazPUAwAAAAAAAAAAACQAHrcMvSwjAAAAgCXAcQpr7dcmSQX1Axb4wNVzzdKdAAAAAElFTkSuQmCC");
  background-size: cover;
  float: left;
  position: relative;
  top: -5px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

/* line 251, ../scss/main.scss */
ui-view, *[ui-view] {
  position: relative;
}

/* line 255, ../scss/main.scss */
.page-content {
  padding-top: 0;
  padding-right: 15px;
  padding-bottom: 0;
  padding-left: 15px;
}

/* line 259, ../scss/main.scss */
.body-content {
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 51px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
@media screen and (max-width: 767px) {
  /* line 259, ../scss/main.scss */
  .body-content {
    padding-bottom: 15px;
    margin-bottom: 0;
  }
}

/* line 272, ../scss/main.scss */
.wrap-text {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 276, ../scss/main.scss */
.fill-container {
  width: 100%;
  height: 100%;
}

/* line 281, ../scss/main.scss */
.row .sticky {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

/* line 286, ../scss/main.scss */
.sticky {
  margin-top: 0;
  margin-right: -15px;
  margin-bottom: 0;
  margin-left: -15px;
  z-index: 2000;
}
/* line 291, ../scss/main.scss */
.sticky.top {
  position: fixed;
  top: 0;
}
/* line 295, ../scss/main.scss */
.sticky.bottom {
  position: fixed;
  bottom: 0;
}

/* line 300, ../scss/main.scss */
.empty-record-message {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  text-align: center;
}
/* line 304, ../scss/main.scss */
.empty-record-message .reload {
  cursor: pointer;
}
/* line 307, ../scss/main.scss */
.empty-record-message .reload:hover {
  text-decoration: underline;
}

/* #endregion */
/* #region field validation errors */
/* line 317, ../scss/main.scss */
.field-error {
  border: 1px solid #d43f3a;
  color: #d9534f;
}

/* line 322, ../scss/main.scss */
.field-validation-error {
  color: #d9534f;
}

/* line 326, ../scss/main.scss */
.field-validation-valid {
  display: none;
}

/* line 330, ../scss/main.scss */
input.input-validation-error {
  border: 1px solid #d43f3a;
}

/* line 334, ../scss/main.scss */
input[type="checkbox"].input-validation-error {
  border: 0 none;
}

/* line 338, ../scss/main.scss */
.validation-summary-errors {
  color: #d9534f;
}

/* line 342, ../scss/main.scss */
.has-error {
  background: #d9534f !important;
  color: #fff !important;
}

/* line 347, ../scss/main.scss */
.input.has-error::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}

/* line 351, ../scss/main.scss */
.input.has-error:hover::-webkit-input-placeholder,
.input.has-error:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #4c4c4c;
}

/* line 356, ../scss/main.scss */
.input.has-error:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}

/* line 361, ../scss/main.scss */
.input.has-error:hover:-moz-placeholder,
.input.has-error:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #4c4c4c;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 367, ../scss/main.scss */
.input.has-error::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}

/* line 372, ../scss/main.scss */
.input.has-error:hover::-moz-placeholder,
.input.has-error:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #4c4c4c;
  opacity: 1;
}

/* line 378, ../scss/main.scss */
.input.has-error:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}

/* line 382, ../scss/main.scss */
.input.has-error:hover:-ms-input-placeholder,
.input.has-error:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #4c4c4c;
}

/* line 387, ../scss/main.scss */
.validation-summary-valid {
  display: none;
}

/* #endregion */
/* #region deckgrid */
/* line 395, ../scss/main.scss */
.deckgrid {
  width: auto;
  height: 100%;
  margin-right: -15px !important;
  overflow: auto;
}
/* line 330, ../scss/variables.scss */
.deckgrid:before, .deckgrid:after {
  content: " ";
  display: table;
}
/* line 336, ../scss/variables.scss */
.deckgrid:after {
  clear: both;
}
/* line 401, ../scss/main.scss */
.deckgrid .column {
  float: left;
}
/* line 404, ../scss/main.scss */
.deckgrid .column > div {
  margin-right: 15px !important;
  margin-bottom: 15px !important;
}
@media screen and (min-width: 1200px) {
  /* line 411, ../scss/main.scss */
  .deckgrid[deckgrid]::before {
    display: none;
    content: '5 .column.size-1-5';
    visibility: hidden;
  }
  /* line 418, ../scss/main.scss */
  .deckgrid .column.size-1-5 {
    width: 20%;
    height: auto;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 425, ../scss/main.scss */
  .deckgrid[deckgrid]::before {
    display: none;
    content: '4 .column.size-1-4';
    visibility: hidden;
  }
  /* line 432, ../scss/main.scss */
  .deckgrid .column.size-1-4 {
    width: 25%;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 439, ../scss/main.scss */
  .deckgrid[deckgrid]::before {
    display: none;
    content: '2 .column.size-1-2';
    visibility: hidden;
  }
  /* line 446, ../scss/main.scss */
  .deckgrid .column.size-1-2 {
    width: 50%;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  /* line 453, ../scss/main.scss */
  .deckgrid[deckgrid]::before {
    display: none;
    content: '1 .column.size-1-1';
    visibility: hidden;
  }
  /* line 460, ../scss/main.scss */
  .deckgrid .column.size-1-1 {
    width: 100%;
    height: auto;
  }
}

/* #endregion */
