@import '../variables';

.blockUI {
    &.blockMsg {
        @include position(fixed, 40%, null, null, null);
        @include margin(0);
        @include size(100%, auto);
        @include borders(1px, solid, $dark-border-color, true, false, true, false);
        text-align: center;
        color: $content-font-color !important;
        border: none;
        background-color: $default-color !important;
        cursor: default;

        > .alert {
            @include margin(0);
        }
    }
}
