/* line 4, ../../scss/communities/communitylistitem.scss */
.community-list-item .community-members-container {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
/* line 7, ../../scss/communities/communitylistitem.scss */
.community-list-item .community-members-container .community-members {
  margin-bottom: 15px;
  max-height: 60px;
  overflow: hidden;
}
/* line 12, ../../scss/communities/communitylistitem.scss */
.community-list-item .community-members-container .community-members .member-item {
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
  display: inline-block;
}
/* line 18, ../../scss/communities/communitylistitem.scss */
.community-list-item .community-members-container .community-members .member-item img {
  width: 60px;
  height: 60px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
}
