/* line 3, ../../scss/communities/communitybuttonlist.scss */
.communities-list {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
}
/* line 6, ../../scss/communities/communitybuttonlist.scss */
.communities-list .community-item {
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  display: inline-block;
  cursor: pointer;
}
/* line 14, ../../scss/communities/communitybuttonlist.scss */
.communities-list .community-item:hover {
  box-shadow: inset 0 0 10px 0 #aaaaaa;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
/* line 18, ../../scss/communities/communitybuttonlist.scss */
.communities-list .community-item label {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  cursor: pointer;
}
/* line 22, ../../scss/communities/communitybuttonlist.scss */
.communities-list .community-item label i {
  margin-right: 5px;
}
