<div id="post-item-{{post.Id}}" ng-class="getPostSize()" class="post-list-item card default">
    <div post-header post="post" user="post.User" />
    <div class="content">
        <p ng-bind-html="post.PostMessage" ellipsis></p>
    </div>
    <div class="content">
        <div post-contents contents="post.PostContents"></div>
    </div>
    <div class="content">
        <div post-likes list="postLikes" post-id="post.Id"></div>
    </div>
    <div class="comments content" ng-show="hasComments">
        <ul ticker data-enable-pause="true" data-pause-element="popover">
            <li ng-repeat="comment in comments">
                <div post-list-item-comment comment="comment"></div>
            </li>
        </ul>
    </div>
    <div class="tags content" ng-show="hasTags">
        <div tag-item tag="tag" ng-repeat="tag in post.Tags"></div>
    </div>
</div>