<footer id="site-footer">
    <h4>www.blogness.com</h4>
    <p>
        Call us on<br />
        <span>+63 917 8680940</span><br />
        or send us an  
        <a>email</a>
    </p>
    <small>Design and content by <a href="#">Jason Magpantay</a>. All Rights Reserved.<br>
        Illustrations by <a href="#">Jason Magpantay</a>. All Rights Reserved.<br>
        <b>Company No.</b> <span class="spaced">09178680940</span><br />
        &copy; @DateTime.Now.Year - Radix Awesome
    </small>
</footer>
