<header id="siteheader" >
    @Html.Partial("_SiteTitle")
    @Html.Partial("_TabMenu")
    @Html.Partial("_LoginPartial")
</header>
<div id="logo"></div>

<script>window.Blog.Events.init();</script>
