<div class="report-error-dialog noshow">
    <span class="report-error-close">close dialog</span>
    <div class="address">
        <h5>Address</h5>
        <span>To the admins of www.blogness.com</span><br />
        <span>blogness_admin@mail.com</span><br />
        <span>+63 917 8680940</span>
    </div>
    <div class="feedback">
        <h5>Feedback</h5>
        <div class="feedback-name">
            <div>
                <span>Your name (</span>
                <span class="red">Required</span>
                <span>)</span>
            </div>
            <div>
                <input type="text" />
            </div>
        </div>
        <div class="feedback-email">
            <div>
                <span>Your email (</span>
                <span class="red">Required</span>
                <span>)</span>
            </div>
            <div>
                <input type="text" />
            </div>
        </div>
        <div class="feedback-message">
            <div>
                <span>Your message (</span>
                <span class="red">Required</span>
                <span>)</span>
            </div>
            <div>
                <textarea></textarea>
            </div>
        </div>
        <div class="feedback-submit">
            <span id="submit-report-btn" class="red">SUBMIT</span>
        </div>
    </div>
</div>
<script>window.Blog.Events.initReportError();</script>
