@model Blog.Backend.Services.BlogService.Contracts.BlogObjects.User

<div class="dvUsernameContainer">
    <span class="spanUsername">Hello! This is @Html.DisplayFor(model => model.FirstName)'s Posts!</span>
</div>