@import '../variables';

#community-edit {
    .card {
        input, textarea {
            @include size(100%, auto);
        }

        .header {
            img {
                cursor: pointer;
            }

            .fa-pencil {
                @include position(absolute, 20%, null, null, null);
                color: $main-font-color;
            }

            input {
                border: 0;
                @include borders(1px, solid, $main-font-color, false, false, true);
                @include padding(null, null, null, $default-padding);
                color: $main-font-color;
                background: $main-color;
                font-size: 1.5em;
            }
        }

        .content {
            textarea {
                min-height: unquote($min-textarea-size + 'px');
            }
        }
    }
}
