div.blog-post-container {
    text-align: center;
    width: 100%;
    position: relative;
    padding-top: 5px;
}

    div.blog-post-container div.blog-post-title {
        color: #E9E7E7;
        font-size: 31px;
        padding: 10px 20px;
        text-align: left;
        margin-bottom: 10px;
    }

    div.blog-post-container div.blog-post-content {
        text-align: left;
        margin: 10px 20px;
        padding: 10px 0;
    }

    div.blog-post-container div.blog-post-content div.post-content-container {
        
    }

        div.blog-post-container div.blog-post-content div.post-content-container img {
            width: 100%;
        }

    div.blog-post-container div.blog-post-content div.post-message {
        text-align: left;
        height: auto;
        color: #FFF;
        font-size: 15px;
        padding: 5px 20px 5px 0;
        margin-left: 20px;
        float: left;
        display: inline-block;
    }

        div.blog-post-container div.blog-post-message div.post-message {
            text-align: left;
            height: auto;
            color: #FFF;
            font-size: 15px;
            padding: 5px 20px 5px 0;
            margin-left: 20px;
            float: left;
            display: inline-block;
        }
    

.blogPostNoContent {
    color: white;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background: #DB4747;
}

.blogButtonDateContainer {
    display: inline-block;
    width: 100%;
    float: left;
    text-align: right;
}

.textNewPostTitle {
    font-style: italic;
    border: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: #1289CE;
}

.blogPostDate {
    text-align: left;
    width: auto;
    height: 21px;
    color: #FFF;
    font-size: 15px;
    padding-top: 5px;
    float: left;
}