div.post-edit-container {
    text-align: center;
    width: 100%;
    position: relative;
    padding-top: 5px;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

    div.post-edit-container div.post-edit-title {
        padding: 10px 20px;
        text-align: left;
    }

        div.post-edit-container div.post-edit-title input {
            border: none;
            width: 100%;
            padding: 0px;
            margin: 0px;
            font-size: 32px;
            background: none;
        }

    div.post-edit-container div.post-modify-container {
        margin: 20px;
        overflow: hidden;
    }

        div.post-edit-container div.post-modify-container div.post-modify-message-container {
            text-align: left;
        }

        div.post-edit-container div.post-modify-container div.post-modify-date-buttons {
            width: 100%;
            display: inline-block;
            margin: 10px 0;
        }

            div.post-edit-container div.post-modify-container div.post-modify-date-buttons span {
                color: #FFF;
                float: left;
            }

            div.post-edit-container div.post-modify-container div.post-modify-date-buttons input[type="button"] {
                float: right;
                width: 100px;
            }
