div.post-media-container {
}

    div.post-media-container img {
        width: 100%;
    }

    div.post-media-container div.post-media-remove {
        cursor: pointer;
    }

        div.post-media-container div.post-media-remove img {
            width: 12px;
            height: 12px;
        }

        div.post-media-container div.post-media-remove span {
            color: #FFF;
        }
