/* Smart phones */
@media screen and (max-width : 480px) {
    #logo {
        background: url(../images/headerminimal.png);
        height: 300px;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -webkit-background-size: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        top: 20px;
    }

    #siteheader {
        background: url(../images/nav.png) repeat;
        position: fixed;
        top: 0px;
        overflow: hidden;
        width: 100%;
        height: 78px;
        z-index: 99999;
    }

        #siteheader div.header {
            display: inline-block;
            float: left;
        }

            #siteheader div.header p.site-title {
                color: #21b7f1;
                font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
                font-size: 30px;
                margin: 10px 10px;
            }

                #siteheader div.header p.site-title a,
                #siteheader div.header.site-title a:hover,
                #siteheader div.header.site-title a:active {
                    background: none;
                    color: #FFF;
                    text-decoration: none;
                    -webkit-text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
                    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
                    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
                    font-weight: bold;
                }
}

/* iPads */
@media screen and (min-width : 481px) and (max-width : 1024px) {
    #logo {
        background: url(../images/headerminimal.png);
        height: 300px;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -webkit-background-size: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        top: 20px;
    }
    #siteheader {
        background: url(../images/nav.png) repeat;
        position: fixed;
        top: 0px;
        overflow: hidden;
        width: 100%;
        height: 78px;
        z-index: 99999;
    }

        #siteheader div.header {
            display: none;
        }
}

/* Desktops and laptops */
@media screen and (min-width : 1025px) {
    #logo {
        background: url(../images/headerminimal.png);
        height: 300px;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -webkit-background-size: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        top: 20px;
    }

    #siteheader {
        background: url(../images/nav.png) repeat;
        position: fixed;
        top: 0px;
        overflow: hidden;
        width: 100%;
        height: 78px;
        z-index: 99999;
    }

        #siteheader div.header {
            display: inline-block;
            float: left;
        }

            #siteheader div.header p.site-title {
                color: #FFF;
                font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
                font-size: 30px;
                margin: 10px 10px;
            }

                #siteheader div.header p.site-title a,
                #siteheader div.header.site-title a:hover,
                #siteheader div.header.site-title a:active {
                    background: none;
                    color: #FFF;
                    text-decoration: none;
                    -webkit-text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
                    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
                    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
                    font-weight: bold;
                }
}
