@import '../variables';

.file-upload {
    .dropzone {
        $dropzone-margin: unquote(($base-margin / 3) + 'px');

        @include border-radius(null, false);
        @include borders(3px, dotted, $dark-border-color, true);
        @include hidden-file-input;

        > h4, > p, .upload-all {
            @include margin(null, null, null, $dropzone-margin);
        }

        > .upload-all > i {
            @include padding(null, $dropzone-margin);
        }

        .upload-items {
            @include clean-list;
            @include margin($base-margin, null, null, null);

            > li {
                @include margin($dropzone-margin);
                @include size(100%, auto);
            }

            .thumbnail {
                @include margin(0);
                @include padding(0);
                @include border-radius(null, false);
                @include borders(0, empty, empty, true);

                img, canvas {
                    @include size(100%, auto);
                }
            }

            .captions {
                $captions-margin: unquote((($base-padding / 3) * 2) + 'px');

                @include borders(1px, solid, $light-border-color, false, true, true, true);
                @include padding($default-padding);
                @include border-radius(null, true, false, false, true, true);
                background: $default-color;
                color: $content-font-color;

                h5, input {
                    @include margin(0, null, $captions-margin, null);
                }

                input, textarea {
                    @include size(100%, auto);
                    max-width: 100%;
                    color: $content-font-color;
                }

                textarea {
                    resize: none;
                }
            }

            .progress {
                $progress-height: unquote((($base-padding / 3) * 2) + 'px');
                @include size(100%, $progress-height);
                @include borders(1px, solid, $light-border-color, false, true, true, true);
                @include border-radius(null, false);
                background: $light-border-color;
            }
        }
    }

    > .btn {
        @include margin(null, null, $default-margin);

        > input[type=file] {
            @include position(fixed, -1000px, null, null, null);
        }
    }
}

.ng-file-over {
    @include borders(3px, dotted, $danger-color, true);
}
