@model Blog.Frontend.Web.Models.CommentView

<div class="comments-container">
    <div class="comments-header">
        <img src="~/Content/images/toggle_right.png" />
        <span class="comments-header-title">Comments</span>
        <span class="comments-count">@Model.Comments.Count comments</span>
        <a class="comment-add-new-item">Add comment</a>
    </div>

    <div class="comments-list noshow">
        @Html.Partial("_CommentNewItem", new Blog.Backend.Services.BlogService.Contracts.BlogObjects.Comment { PostId = Model.PostId })
        @Html.Partial("_CommentList", Model)
    </div>
</div>

<script>window.Blog.Events.initCommentSection();</script>
