@model Blog.Frontend.Web.Models.CommentView

<div id="@GetCommentListElementId()" class="comment-list-container">
    <ul>
        @if (Model.Comments.Count > 0)
        {
            foreach (var comment in Model.Comments)
            {
                <li id="commentItem_@comment.CommentId" data-parentCommentId="@comment.ParentCommentId" class="@GetCommentItemCss()">
                    @Html.Partial("_CommentItem", comment)
                </li>
            }
        }
    </ul>
</div>

@functions
{
    public string GetCommentListElementId()
    {
        if (Model.IsCommentReply && Model.Comments.Count > 0)
        {
            return "commentList_" + Model.Comments[0].ParentCommentId;
        }
        else
        {
            return "commentList_parent_" + Model.PostId;
        }
    }
    public string GetCommentItemCss()
    {
        var classString = "";
        if (Model.IsCommentReply)
        {
            classString = "commentItem noshow";
        }
        else
        {
            classString = "commentItem";
        }
        
        return classString;
    }
}
