nav.navigation-menu {
    width: 100%;
    height: 100%;
    background: #4c4c4c;
}

    nav.navigation-menu h4 {
        margin: 0;
        padding: 3.5em 1em 1em 1em;
        color: #ffffff;
        color: rgba(255,255,255,0.2);
        -webkit-text-shadow: 0 0 1px #000000;
        -webkit-text-shadow: 0 0 1px rgba(0,0,0,0.1);
        -ms-text-shadow: 0 0 1px #000000;
        text-shadow: 0 0 1px #000000;
        text-shadow: 0 0 1px rgba(0,0,0,0.1);
        font-weight: 300;
        font-size: 1.5em;
    }

    nav.navigation-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        nav.navigation-menu ul li a {
            display: block;
            padding: 1em 1em 1em 1.2em;
            outline: none;
            -webkit-box-shadow: inset 0 -1px #000000;
            -webkit-box-shadow: inset 0 -1px #000000;
            -ms-box-shadow: inset 0 -1px #000000;
            -ms-box-shadow: inset 0 -1px rgba(0,0,0,0.2);
            box-shadow: inset 0 -1px #000000;
            box-shadow: inset 0 -1px rgba(0,0,0,0.2);
            color: #f3efe0;
            text-transform: uppercase;
            -webkit-text-shadow: 0 0 1px #ffffff;
            -ms-text-shadow: 0 0 1px #ffffff;
            -ms-text-shadow: 0 0 1px rgba(255,255,255,0.1);
            text-shadow: 0 0 1px #ffffff;
            text-shadow: 0 0 1px rgba(255,255,255,0.1);
            letter-spacing: 1px;
            font-weight: 400;
            -webkit-transition: background 0.3s, box-shadow 0.3s;
            -moz-transition: background 0.3s, box-shadow 0.3s;
            -o-transition: background 0.3s, box-shadow 0.3s;
            transition: background 0.3s, box-shadow 0.3s;
        }

            nav.navigation-menu ul li a > img {
                width: 32px;
                margin-right: 10px;
            }

        nav.navigation-menu ul li:first-child a {
            -webkit-box-shadow: inset 0 -1px #000000, inset 0 1px #000000;
            -ms-box-shadow: inset 0 -1px #000000, inset 0 1px #000000;
            -ms-box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
            box-shadow: inset 0 -1px #000000, inset 0 1px #000000;
            box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
        }

        nav.navigation-menu ul li a:hover {
            background: #000000;
            background: rgba(0,0,0,0.2);
            -webkit-box-shadow: inset 0 -1px #000000;
            -webkit-box-shadow: inset 0 -1px rgba(0,0,0,0);
            -ms-box-shadow: inset 0 -1px #000000;
            -ms-box-shadow: inset 0 -1px rgba(0,0,0,0);
            box-shadow: inset 0 -1px #000000;
            box-shadow: inset 0 -1px rgba(0,0,0,0);
            color: #fff;
        }
