<div id="notification-message" class="hidden">
    <div>
        <i class="glyphicon glyphicon-ok"></i>
    </div>
    <div>
        <h3 data-bind="text: growlTitle"></h3>
        <p data-bind="text: growlMessage"></p>
    </div>
</div>