div.comment-item-container {
    width: 100%;
}

    div.comment-item-container div.comment-item {
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
    }

        div.comment-item-container div.comment-item div.comment-top-row {
            display: inline-block;
        }

            div.comment-item-container div.comment-item div.comment-top-row div.comment-username {
                color: #193293;
                font-size: 17px;
                float: left;
                margin-right: 10px;
            }

            div.comment-item-container div.comment-item div.comment-top-row div.comment-location {
                font-size: 14px;
                float: left;
                margin-top: 3px;
            }

        div.comment-item-container div.comment-item div.comment-message {
            height: auto;
            color: #000;
            font-size: 14px;
        }

        div.comment-item-container div.comment-item div.comment-bottom-row {
            display: inline-block;
        }

            div.comment-item-container div.comment-item div.comment-bottom-row span {
                font-size: 12px;
                padding: 0px;
                color: #193293;
                text-decoration: underline;
                cursor: pointer;
            }

                div.comment-item-container div.comment-item div.comment-bottom-row span:hover {
                    font-size: 12px;
                    color: #3250c8;
                    text-decoration: none;
                }

            div.comment-item-container div.comment-item div.comment-bottom-row div.comment-item-replies-hide {
                width: 70px;
                display: inline-block;
            }

            div.comment-item-container div.comment-item div.comment-bottom-row div.comment-item-likes-container {
            }

            div.comment-item-container div.comment-item div.comment-bottom-row span.comment-item-time {
                color: #000;
                text-decoration: none;
            }

    div.comment-item-container div.comment-replies-container {
        margin: 10px 0 10px 50px;
        border-left: 2px solid #333;
        padding-left: 10px;
    }