div.comments-container div.comments-list div.comment-add-new-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.comments-container div.comments-list div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    div.comments-container div.comments-list div.comment-add-new-container img.comment-add-new-close {
        float: right;
        cursor: pointer;
        margin: 5px 12px;
    }

    div.comments-container div.comments-list div.comment-add-new-container div.comment-add-new-form {
        padding: 0 0 0 15px;
        display: inline-block;
        width: 100%;
    }

        div.comments-container div.comments-list div.comment-add-new-container div.comment-add-new-form div {
            width: 100%;
            display: inline-block;
            height: 55px;
        }

            div.comments-container div.comments-list div.comment-add-new-container div.comment-add-new-form div a {
                float: left;
            }

            div.comments-container div.comments-list div.comment-add-new-container div.comment-add-new-form div div.comment-add-new-text {
                padding: 0 15px 0 65px;
                position: relative;
                top: -55px;
            }

                div.comments-container div.comments-list div.comment-add-new-container div.comment-add-new-form div div.comment-add-new-text textarea {
                    width: 100%;
                    background: white;
                    color: #193293;
                    -moz-border-radius: 2px;
                    -webkit-border-radius: 2px;
                    border-radius: 2px;
                    border: 2px solid #1289CE;
                    min-width: 0px;
                    min-height: 50px;
                    margin-right: 0px;
                    padding: 0px;
                    font-size: 12px;
                    resize: none;
                }

        div.comments-container div.comments-list div.comment-add-new-container div.comment-add-new-form input {
            float: right;
            cursor: pointer;
            margin: 5px 12px;
            width: 150px;
        }
