@import '../variables';

.user-profile-navigation {
    @include borders(1px, solid, darken($primary-color, $border-darken-value), true);
    @include padding($default-margin);
    @include margin(null, null, $default-margin);
    background: $primary-color;
    color: $main-font-color;
    text-shadow: 0 1px 0 rgba(0,0,0,0.25);

    nav {
        @include size(auto, 100%);

        ul {
            @include clean-list;
            @include padding($default-padding);
            text-align: center;

            > li {
                @include padding(0, $default-padding, 0, $default-padding);
                display: inline;

                a {
                    color: $default-color;
                    font-weight: normal;
                }
            }
        }
    }
}
