@model Blog.Frontend.Web.Models.LoginModel

@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/home/login.css" rel="stylesheet" />

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This is the Radix Awesomeness site!
                Le ASP.MVC 4.0 Training for jama!
            </p>
        </div>
    </section>
}

@Html.Partial("_LoginWidget", null)

<script>
    $(function () {
        $(".dashboard-body").attr("style", "display: inline-block"); 
        $(".dashboard-body").removeClass("dashboard-body");
    });
</script>
