<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
        <div id="post-{{post.Id}}" class="content-item default ng-cloak">
            <div class="header big row" data-user-id="{{post.CreatedBy}}">
                <div>
                    <img ng-src="{{post.User.Picture.MediaUrl}}" />
                </div>
                <div>
                    <h4>
                        {{post.PostTitle}}
                    </h4>
                    <p>
                        <a href="#/user/{{post.User.UserName}}">@{{post.User.UserName}}</a>
                        <span>{{post.DateDisplay}}</span>
                    </p>
                    <div class="edit-post" ng-show="isEditable()" ng-click="editPost()"></div>
                </div>
            </div>
            <div class="body">
                <p ng-bind-html="post.PostMessage" ellipsis></p>
            </div>
            <div class="body">
                <div post-likes list="postLikes" post-id="post.Id"></div>
            </div>
            <div class="body">
                <div tag-item tag="tag" ng-repeat="tag in post.Tags"></div>
            </div>
        </div>

        <!-- TODO: Do something about post-board.contents styles -->
        <div id="post-contents-{{post.Id}}" class="post-board contents content-item ng-cloak" ng-show="hasContents()">
            <ul isotope-container isotope-item-resize reapply-layout-only="false" 
                resize-large="48%" resize-medium="96%" resize-small="96%">
                <li ng-repeat="content in post.PostContents" isotope-item class="post-item-content">
                    <div media-item media="content.Media"></div>
                    <div class="captions">
                        <p>{{content.PostContentTitle}}</p>
                        <p>{{content.PostContentText}}</p>
                    </div>
                </li>
            </ul>
        </div>
        
        <div id="post-comments-{{post.Id}}" class="comments content-item">
            <div comments-container user="user" postid="postId" poster="post.User.UserName"></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div post-related-items parentpostid="postId"></div>
    </div>
</div>
