<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
        <div id="post-{{post.Id}}" class="card default view-post ng-cloak">
            <div class="header big row" data-user-id="{{post.CreatedBy}}">
                <div>
                    <img ng-src="{{post.User.Picture.MediaUrl}}" />
                </div>
                <div>
                    <h4>
                        <i class="fa fa-edit edit" ng-show="isEditable" ng-click="editPost()"></i>
                        {{post.PostTitle}}
                    </h4>
                    <p>
                        <a href="#/user/{{post.User.UserName}}">@{{post.User.UserName}}</a>
                        <span>{{post.DateDisplay}}</span>
                    </p>
                </div>
            </div>
            <div class="content">
                <p ng-bind-html="post.PostMessage" ellipsis></p>
            </div>
            <div class="content">
                <div post-likes list="postLikes" post-id="postId"></div>
                <div post-view-count list="viewCount" post-id="postId"></div>
            </div>
            <div class="content">
                <div tag-item tag="tag" ng-repeat="tag in post.Tags"></div>
            </div>
        </div>

        <div id="post-contents-{{post.Id}}" class="card masonry ng-cloak" ng-show="hasContents()">
            <ul isotope-container isotope-item-resize reapply-layout-only="false"
                resize-large="48%" resize-medium="96%" resize-small="96%">
                <li ng-repeat="content in post.PostContents" isotope-item class="post-item-content card">
                    <div media-item media="content.Media" data-gallery-mode="true"></div>
                    <div class="captions">
                        <p>{{content.PostContentTitle}}</p>
                        <p>{{content.PostContentText}}</p>
                    </div>
                </li>
            </ul>
        </div>

        <div id="post-comments-{{post.Id}}" class="comments">
            <div comments-container user="user" postid="postId" poster="post.User.UserName"></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="card default nav-buttons">
            <div class="col-sm-6">
                <div class="btn btn-primary" ng-click="previousPost()">Prev</div>
            </div>
            <div class="col-sm-6">
                <div class="btn btn-primary" ng-click="nextPost()">Next</div>
            </div>
        </div>
        <div post-related-items parentpostid="postId"></div>
    </div>

    <div ui-view class="sticky top"></div>
</div>
